<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="pageSizeSelect" id="pageTopBar">
    <div id="pageInfo"></div>

    <div class="pageSelect" style="display:flex; align-items:center; gap:10px; justify-content: flex-end; font-size: 12px;">
        <label> 조회건수 </label>
        <select id="pageSize" name="pageSize" class="search-select">
            <option value="25" selected>25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
    </div>
</div>
</html>