<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/sideLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>

</head>
<body>
<div class="container">
<div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>

        <div class="mainHeadContainer">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 신청내역 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnInit" type="button" class="btn">초기화</button>
                <button type="button" class="btn" id="btnSearch">조회</button>
            </div>
        </div>

    <div class="mainBodyContainer">
        <form id="mainForm">  <table class="search-table">
            <tr>
                <th>신청구분</th>
                <td width="100px">
                    <select id="se" name="se" class="search-select">
                        <option value="" selected>전체</option>
                    </select>
                </td>
                <td>
                    <input type="hidden" id="userId" name="userId" class="search-input" >
                </td>
            </tr>
        </table>
        </form>

        <div id="pageInfoContainer" class="page-header"></div>

    </div>

    <div class="mainTableContainer">

        <table class="data-table" id="mainTable">
            <thead>
            <tr>
                <th class="col-no">No</th>
                <th width="100px" style="text-align: center;">등록구분</th>
                <th width="250px">등록내용</th>
                <th width="250px">영문명</th>
                <th>비고</th>
                <th width="150px" style="text-align: center;">등록자</th>
                <th width="200px" style="text-align: center;">등록일자</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadCodeCombo('APRV_CD', 'se');
        const titles = document.querySelectorAll('.menu-title');

        const currentFile = getCurrentFileName();

        titles.forEach(title => {
            title.addEventListener('click', function() {
                this.classList.toggle('folded');

                const subMenu = this.nextElementSibling;
                if (subMenu && subMenu.classList.contains('sub-menu')) {
                    subMenu.classList.toggle('folded');
                }
            });
        });

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");

        const userId = localStorage.getItem('userId');
        document.getElementById("userId").value = userId;

        const btnSearch = document.getElementById('btnSearch');
        setTimeout(() => {
            btnSearch.click();
        }, 30);


        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;

            pageSizeSelect.addEventListener("change", () => {
                PAGE_SIZE = Number(pageSizeSelect.value);
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            });
        });


        function renderTable(page) {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr>
                    <td style="text-align: center;"> ${start + index + 1}</td>
                    <td style="text-align: center;"> ${['','용어','단어','도메인','공통코드','상세코드','','','','미사용'][item.se * 1]}
                    <td style="text-align: left;">${item.korNm}</td>
                    <td style="text-align: left;">${item.engNm}</td>
                    <td style="text-align: left;">${truncateText(item.rmk, 100)}</td>
                    <td style="text-align: center;">${item.crtId}</td>
                    <td style="text-align: center;">${item.crtDttm}</td>
                </tr>
            `).join('');
        }

        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = formToJson(document.getElementById('mainForm'));

            fetch('/meta/getAplyDsctnList', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                if (!Array.isArray(dataAll) || dataAll.length === 0) {
                    initScreen();
                            document.getElementById("pageInfo").innerText = `조회 결과가 없습니다.`;
                    return
                }
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                myAlert("에러 발생: " + err);
            });
        });
    });


    document.getElementById('btnInit').addEventListener('click', () => {
        document.getElementById('mainForm').reset();
        initScreen();
    });
</script>
<script src="/js/functionKey.js"></script>
<script src="/js/commonCombo.js"></script>
</body>
</html>