<div th:fragment="passwordModal">

    <div class="modal-header">
        <h3>비밀번호 변경</h3>
    </div>

    <div class="modal-body">
        <input type="hidden" id="pmUserId">

        <input type="password" id="pmCurrent" placeholder="현재 비밀번호">
        <input type="password" id="pmNew" placeholder="새 비밀번호">
        <input type="password" id="pmConfirm" placeholder="새 비밀번호 확인">
    </div>

    <div class="modal-footer">
        <button id="pmSubmit">변경</button>
        <button id="pmCancel">취소</button>
    </div>

</div>
