spring:
  config:
    activate:
      on-profile: local

  servlet:
    session:
      timeout: 60m

  datasource:
    url: jdbc:mysql://localhost:3306/meta?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root0000
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 1800000
      read-only: false

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    org.mybatis: DEBUG
    com.meta: DEBUG
    org.springframework.jdbc: DEBUG
