<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.meta.mapper.dbio.TbCodeDetlMapper">

   <!--tb_code_detl SELECT-->
   <select id="getData" parameterType="com.meta.dto.TbCodeDetlDto" resultType="com.meta.dto.TbCodeDetlDto">
       SELECT
         A.GRP_CD
       , B.GRP_NM
       , A.CD
       , A.CD_NM
       , A.STTS_CD
       , A.ORD
       , A.RMK
       , A.CRT_ID
       , A.UPD_ID
       , DATE_FORMAT(A.CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
       , DATE_FORMAT(A.UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
       FROM tb_code_detl A
       JOIN tb_code_group B
       ON A.GRP_CD = B.GRP_CD
       WHERE A.GRP_CD = #{grpCd}
         AND A.CD = #{cd}
  </select>

   <!--tb_code_detl INSERT-->
   <insert id="insertData" parameterType="com.meta.dto.TbCodeDetlDto">
     INSERT INTO tb_code_detl (
            GRP_CD
          , CD
          , CD_NM
          , STTS_CD
          , ORD
          , RMK
          , CRT_ID
          , UPD_ID
     )
     VALUES (
            #{grpCd}
          , #{cd}
          , #{cdNm}
          , #{sttsCd}
          , #{ord}
          , #{rmk}
          , #{crtId}
          , #{updId}
     ) 
  </insert>

   <!--tb_code_detl UPDATE-->
   <update id="updateData" parameterType="com.meta.dto.TbCodeDetlDto">
     UPDATE tb_code_detl
        SET CD = #{cd}
          , CD_NM = #{cdNm}
          , STTS_CD = #{sttsCd}
          , ORD = #{ord}
          , RMK = #{rmk}
          , UPD_ID = #{updId}
      WHERE GRP_CD = #{grpCd}
        AND CD = #{cd}
   </update>

   <!--tb_code_detl DELETE-->
   <delete id="deleteData" parameterType="com.meta.dto.TbCodeDetlDto">
     DELETE
       FROM tb_code_detl
      WHERE GRP_CD = #{grpCd}
        AND CD = #{cd}
   </delete>

   <!--tb_code_detl RECORD LOCK SELECT-->
   <select id="getLockData" parameterType="com.meta.dto.TbCodeDetlDto" resultType="com.meta.dto.TbCodeDetlDto">
      SELECT GRP_CD
           , CD
           , CD_NM
           , STTS_CD
           , ORD
           , RMK
       , CRT_ID, UPD_ID
       , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
       , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM tb_code_detl
       WHERE GRP_CD = #{grpCd}
         AND CD = #{cd}
         FOR UPDATE
  </select>

    <!--tb_code_detl LIST SELECT-->
    <select id="getListData" parameterType="com.meta.dto.TbCodeDetlDto" resultType="com.meta.dto.TbCodeDetlDto">
        SELECT
        A.GRP_CD
        , B.GRP_NM
        , A.CD
        , A.CD_NM
        , A.STTS_CD
        , A.ORD
        , A.RMK
        , A.CRT_ID
        , A.UPD_ID
        , DATE_FORMAT(A.CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
        , DATE_FORMAT(A.UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM tb_code_detl A
        JOIN tb_code_group B
        ON A.GRP_CD = B.GRP_CD
        WHERE  1 = 1
        <if test="grpCd  != null and grpCd  != ''">
            AND A.GRP_CD = #{grpCd}
        </if>
        <if test="cd  != null and cd  != ''">
            AND A.CD    LIKE CONCAT('%', #{cd}, '%')
        </if>
        <if test="cdNm  != null and cdNm  != ''">
            AND A.CD_NM    LIKE CONCAT('%', #{cdNm}, '%')
        </if>
        <if test="sttsCd  != null and sttsCd  != ''">
            AND A.STTS_CD = #{sttsCd}
        </if>
        ORDER BY A.GRP_CD, A.ORD, A.CD
    </select>

    <select id="getAllData" parameterType="com.meta.dto.TbCodeDetlDto" resultType="com.meta.dto.TbCodeDetlDto">
        SELECT CD, CD_NM
        FROM tb_code_detl
        WHERE GRP_CD = #{grpCd}
        AND   STTS_CD = '1'
        ORDER BY GRP_CD, ORD, CD
    </select>

    <select id="countData" parameterType="com.meta.dto.TbCodeDetlDto" resultType="int">
        SELECT COUNT(*)
        FROM TB_CODE_detl
        WHERE GRP_CD = #{grpCd}
        AND CD = #{cd}
    </select>


</mapper>
