<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/sideLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>
    <script src="/js/commonCombo.js" defer></script>
    <script src="/js/functionKey.js" defer></script>

</head>
<body>
<div class="container">
    <div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
    <div class="mainHeadContainer">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 전문종류 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnInit"    type="button" class="btn">초기화</button>
                <button id="btnSearch"  type="button" class="btn">조회</button>
                <button id="btnReg"     type="button" class="btn">등록</button>
                <button id="btnRegEblc" type="button" class="btn">일괄등록</button>
                <button id="btnExcel"   type="button" class="btn">Excel 저장</button>
            </div>
        </div>

        <div class="mainBodyContainer">
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>기관코드</th>
                    <td>
                        <select id="instCd" name="instCd" class="search-select">
                        </select>
                    </td>
                    <th>업무구분코드</th>
                    <td>
                        <select id="taskSeCd" name="taskSeCd" class="search-select">
                            <option value="">전체</option>
                        </select>
                    </td>
                    <th>거래구분코드</th>
                    <td><input type="text" id="dlngSeCd" name="dlngSeCd" class="search-input" > </td>
                    <th>전문명</th>
                    <td><input type="text" id="telgmNm" name="telgmNm" class="search-input" > </td>
                </tr>
            </table>
        </form>


        <div id="pageInfoContainer" class="page-header"></div>


        <table class="data-table" id="mainTable" style="margin-top:10px" >
            <thead>
            <tr>
                <th style="width:50px">No</th>
                <th style="width:100px">기관코드</th>
                <th style="width:100px">업무구분코드</th>
                <th style="width:100px">요청종별코드</th>
                <th style="width:100px">응답종별코드</th>
                <th style="width:100px">거래구분코드</th>
                <th style="width:200px">전문명</th>
                <th style="width:100px">전문길이</th>
                <th style="width:100px">상태</th>
                <th style="width:100px">ID</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
   </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadCodeCombo('INST_CD', 'instCd');
        loadCodeCombo('TASK_SE_CD', 'taskSeCd');

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
            .then(res => res.text())
            .then(html => {
                container.innerHTML = html;
                const pageSizeSelect = document.getElementById("pageSize");
                if (!pageSizeSelect) return;
                pageSizeSelect.addEventListener("change", () => {
                    PAGE_SIZE = Number(pageSizeSelect.value);
                    currentPage = 1;
                    renderTable(currentPage);
                    renderPagination(dataAll, currentPage, PAGE_SIZE);
                    updatePageInfo(dataAll, currentPage, PAGE_SIZE);
                });
            });


        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                return;
            }
            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click"
                        data-id="${item.telgmId}"
                        data-instcd="${item.instCd}"
                        data-tasksecd="${item.taskSeCd}"
                        data-telgmkndcd="${item.telgmKndCd}"
                        data-rspnstelgmkndcd="${item.rspnsTelgmKndCd}"
                        data-dlngsecd="${item.dlngSeCd}"
                        data-telgmnm="${item.telgmNm}">
                    <td style="text-align: center;"> ${start + index + 1} </td>
                    <td style="text-align: center;">${item.instNm}</td>
                    <td style="text-align: center;">${item.taskSeNm}</td>
                    <td class="telgm-knd-click" style="text-align: center; cursor:pointer; color:blue;">${item.telgmKndCd}</td>
                    <td class="telgm-rspns-knd-click" style="text-align: center; cursor:pointer; color:blue;">${item.rspnsTelgmKndCd}</td>
                    <td style="text-align: center;">${item.dlngSeCd}</td>
                    <td style="text-align: left;">${item.telgmNm}</td>
                    <td style="text-align: center;">${item.telgmLen}</td>
                    <td>${getSttsCdLabel(item.sttsCd)}</td>
                    <td style="text-align: center;">${item.telgmId}</td>
                </tr>
            `).join('');
        }

        tableBody.addEventListener("dblclick", e => {
            const tr = e.target.closest(".row-click");
            if (!tr) return;
            const sendData = {
                mode: "S",
                instCd: tr.dataset.instcd,
                taskSeCd: tr.dataset.tasksecd,
                telgmKndCd: tr.dataset.telgmkndcd,
                dlngSeCd: tr.dataset.dlngsecd
            };
            openWindowWithJSON(sendData, "/meta/telgm/telgmKndMng", 800, 700);
        });

        document.addEventListener("click", (e) => {
            const tr = e.target.closest("tr");
            if (e.target.classList.contains("telgm-knd-click")) {
                const instCd      = tr.dataset.instcd;
                const taskSeCd    = tr.dataset.tasksecd;
                const telgmKndCd  = tr.dataset.telgmkndcd;
                const dlngSeCd    = tr.dataset.dlngsecd;
                const telgmNm    = tr.dataset.telgmnm;
                telgmDtlList({
                    instCd,
                    taskSeCd,
                    telgmKndCd,
                    dlngSeCd,
                    telgmNm
                });
            }
            if (e.target.classList.contains("telgm-rspns-knd-click")) {
                const instCd      = tr.dataset.instcd;
                const taskSeCd    = tr.dataset.tasksecd;
                const telgmKndCd  = tr.dataset.rspnstelgmkndcd;
                const dlngSeCd    = tr.dataset.dlngsecd;
                const telgmNm    = tr.dataset.telgmnm;
                telgmDtlList({
                    instCd,
                    taskSeCd,
                    telgmKndCd,
                    dlngSeCd,
                    telgmNm
                });
            }
        });

        function telgmDtlList(param) {
            openWindowWithJSON(param, "/meta/telgm/telgmDtlListPopup", 1400, 1400);
        }

        window.refreshParentRow = function(data) {
            const refreshMap = {
                rspnsTelgmKndCd: 'td:nth-child(5)',
                telgmNm: 'td:nth-child(7)',
                telgmLen: 'td:nth-child(8)',
                sttsCd: 'td:nth-child(9)',
                telgmId: 'td:nth-child(10)'
            };
            window.updateRowDataFlexible(data, 'telgmId', refreshMap);
        }


        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = formToJson(document.getElementById('mainForm'));

            const instCd = document.getElementById('instCd');
           if (!instCd.value || !instCd.value.trim()) {
                myAlert("기관코드를 입력하세요.");
                instCd.focus();
                return;
            }

            fetch('/meta/getTelgmKndListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                if (!Array.isArray(dataAll) || dataAll.length === 0) {
                    initScreen();
                            document.getElementById("pageInfo").innerText = `조회 결과가 없습니다.`;
                    return
                }
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                myAlert("에러 발생: " + err);
            });
        });
    });

    document.getElementById('btnInit').addEventListener('click', () => {
        document.getElementById('mainForm').reset();
        loadCodeCombo('INST_CD', 'instCd');
        loadCodeCombo('TASK_SE_CD', 'taskSeCd');
    });


    document.getElementById('btnReg').addEventListener('click', () => {
            const instCd = document.getElementById('instCd');
            const taskSeCd = document.getElementById('taskSeCd');

           if (!instCd.value || !instCd.value.trim()) {
                myAlert("기관코드를 입력하세요.");
                instCd.focus();
                return;
            }

           if (!taskSeCd.value || !taskSeCd.value.trim()) {
                myAlert("업무코드를 입력하세요.");
                taskSeCd.focus();
                return;
            }

        const sendData = {
                mode: "I",
                instCd: instCd.value,
                taskSeCd: taskSeCd.value
        }
        openWindowWithJSON(sendData, "/meta/telgm/telgmKndMng", 800, 700);
    });

    document.getElementById('btnRegEblc').addEventListener('click', () => {
        window.location.href = "/meta/telgm/telgmKndRegEblc";
    });

    document.getElementById('btnExcel').addEventListener('click', () => {
        downloadTableToExcel('mainTable', '전문종류 목록');
    });

</script>
</body>
</html>