<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/commonUtils.js" defer></script>
    <script src="/js/commonCombo.js" defer></script>
</head>
<body>
<div class="popupContainer" id="popupContainer">
    <div class="searchHeadContainer">
            <h2 style="margin:0;"> ✅ 전문상세 조회</h2>
            <div class="button-group">
                <button id="btnSearch"  type="button" class="btn">조회</button>
                <button id="btnClose" type="button" class="btn">닫기</button>
            </div>
    </div> 
    <div class="searchBodyContainer">
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>기관코드</th>
                    <td><input type="text" id="instCd" name="instCd" class="form-input" readonly > </td>
                    <th>업무구분코드</th>
                    <td><input type="text" id="taskSeCd" name="taskSeCd" class="form-input" readonly> </td>
                    <th>전문종별코드</th>
                    <td><input type="text" id="telgmKndCd" name="telgmKndCd" class="form-input" readonly> </td>
                    <th>거래구분코드</th>
                    <td><input type="text" id="dlngSeCd" name="dlngSeCd" class="form-input" readonly> </td>
                    <td><input type="text" id="telgmNm" name="telgmNm" class="form-input" readonly> </td>
                </tr>
            </table>
        </form>

        <div id="pageInfoContainer" class="page-header"></div>

        <table class="data-table" id="mainTable">
            <thead>
            <tr>
                <th style="width:100px">항목순서</th>
                <th style="width:200px">항목명</th>
                <th style="width:100px">항목영문명</th>
                <th style="width:100px">항목속성</th>
                <th style="width:100px">항목길이</th>
                <th style="width:100px">항목기본값</th>
                <th style="width:100px">항목유형코드</th>
                <th style="width:100px">항목Depth</th>
                <th style="width:100px">반복횟수항목</th>
                <th style="width:100px">반복고정횟수</th>
                <th style="width:100px">상태</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
   </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        // 부모창에서 데이터 받기
        window.addEventListener("message", (event) => {
            if (event.origin !== window.location.origin) return;

            const { instCd, taskSeCd, telgmKndCd, dlngSeCd, telgmNm } = event.data || {};
            if (!instCd || !taskSeCd || !telgmKndCd|| !dlngSeCd) return;

            // select 값 세팅
            document.getElementById("instCd").value = instCd;
            document.getElementById("taskSeCd").value = taskSeCd;
            document.getElementById("telgmKndCd").value = telgmKndCd;
            document.getElementById("dlngSeCd").value = dlngSeCd;
            document.getElementById("telgmNm").value = telgmNm;

            const btnSearch = document.getElementById('btnSearch');
            setTimeout(() => {
                btnSearch.click();
            }, 30);

        });

        let PAGE_SIZE = 50;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
            .then(res => res.text())
            .then(html => {
                container.innerHTML = html;
            });


        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                return;
            }
            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr>
                    <td style="text-align: center;">${item.artclSeq}</td>
                    <td style="text-align: left;">${item.artclNm}</td>
                    <td style="text-align: left;">${item.artclEngNm}</td>
                    <td style="text-align: center;">${item.artclAtrb}</td>
                    <td style="text-align: center;">${item.artclLen}</td>
                    <td style="text-align: left;">${item.artclBscVl}</td>
                    <td style="text-align: center;">${['','FIELD','ARRAY'][item.artclTypeCd * 1]}</td>
                    <td style="text-align: center;">${item.artclDpth}</td>
                    <td style="text-align: left;">${item.reptField}</td>
                    <td style="text-align: center;">${item.reptFixNmtm}</td>
                    <td>${getSttsCdLabel(item.sttsCd)}</td>
                </tr>
            `).join('');
        }


        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = {
                instCd: document.getElementById('instCd').value.trim(),
                taskSeCd: document.getElementById('taskSeCd').value.trim(),
                telgmKndCd: document.getElementById('telgmKndCd').value.trim(),
                dlngSeCd: document.getElementById('dlngSeCd').value.trim()
            };

            if (!data.instCd || !data.taskSeCd || !data.telgmKndCd || !data.dlngSeCd) {
                myAlert("조회항목을 입력하세요.");
                return;
            }

            fetch('/meta/getTelgmDtlListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                if (!Array.isArray(dataAll) || dataAll.length === 0) {
                    myAlert("조회 결과가 없습니다.");
                    document.getElementById("btnClose").click();
                }
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                myAlert("에러 발생: " + err);
            });
        });

        document.getElementById("btnClose").addEventListener("click", () => {
            window.close();
        });
    });

</script>
</body>
</html>