<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/sideLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>

</head>
<body>
<div class="container">
<div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
        <div class="mainHeadContainer">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 공통코드 통합검색 </h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnInit" type="button" class="btn">초기화                </button>
                <button id="btnSearch" type="button" class="btn">조회                </button>
            </div>
        </div>

    <div class="mainBodyContainer">
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>공통코드</th>
                    <td><input type="text" id="grpCd" name="grpCd" class="search-input"  ></td>
                    <th>공통코드명</th>
                    <td><input type="text" id="grpNm" name="grpNm" class="search-input"  ></td>
                    <th>상세코드</th>
                    <td><input type="text" id="cd" name="cd" class="search-input" ></td>
                    <th>상세코드명</th>
                    <td><input type="text" id="cdNm" name="cdNm" class="search-input" ></td>
                </tr>
            </table>
        </form>
<!--      <div class="divider-h"></div>-->
        <div id="pageInfoContainer" class="page-header"></div>

        <table class="data-table" id="mainTable" style="margin-top:10px" >
            <thead>
            <tr>
                <th class="col-no">No</th>
                <th>코드구분</th>
                <th>공통코드</th>
                <th>공통코드명</th>
                <th>상세코드</th>
                <th>상세코드명</th>
                <th>비고</th>
                <th  width="120px" style="text-align: center;">상태</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");


        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;
            pageSizeSelect.addEventListener("change", () => {
                PAGE_SIZE = Number(pageSizeSelect.value);
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            });
        });


        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click" data-grp="${item.grpCd}" data-cd="${item.cd}" data-se="${item.se}">
                    <td style="text-align: center;"> ${start + index + 1} </td>
                    <td style="text-align: left;">${item.seNm}</td>
                    <td style="text-align: left;">${item.grpCd}</td>
                    <td style="text-align: left;">${item.grpNm}</td>
                    <td style="text-align: left;">${item.cd}</td>
                    <td style="text-align: left;">${item.cdNm}</td>
                    <td style="text-align: left;">${item.rmk}</td>
                    <td>${getSttsCdLabel(item.sttsCd)}</td>
                </tr>
            `).join('');


            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("dblclick", () => {
                    const grpCdS = tr.getAttribute("data-grp");
                    const cdS = tr.getAttribute("data-cd");
                    const seS = tr.getAttribute("data-se");
                    const sendData = { mode: "S", grpCd: grpCdS, cd: cdS };
                    if( seS === '4') {
                        openWindowWithJSON(sendData, "/meta/code/codeGroupMng", 800, 550);
                    } else {
                        openWindowWithJSON(sendData, "/meta/code/codeDetlMng", 800, 550);
                    }
                });
            });
        }

        window.refreshParentRow = function(data) {
            const refreshMap = {
                grpCd: 'td:nth-child(2)',
            };
            document.getElementById("btnSearch").click();
        }


        document.getElementById('btnSearch').addEventListener('click', () => {
            initScreen();
            const data = formToJson(document.getElementById('mainForm'));

            fetch('/meta/getCommCodeSearch', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                if (!Array.isArray(dataAll) || dataAll.length === 0) {
                    initScreen();
                            document.getElementById("pageInfo").innerText = `조회 결과가 없습니다.`;
                    return
                }
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                myAlert("에러 발생: " + err);
            });
        });
    });

    // Enter Key
    document.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
            document.getElementById('btnSearch').click();
        }
    });


    document.getElementById('btnInit').addEventListener('click', () => {
        document.getElementById('mainForm').reset();
        initScreen();
    });

</script>
<script src="/js/functionKey.js"></script>
</body>
</html>