/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }
body, html { font-family: Arial, sans-serif; height: 100%; }

/* 전체 레이아웃 */
.layout { display: flex; width: 100%; height: 100vh; padding-top: 60px; font-size: 12px; }

/* Topbar */
.topbar { position: fixed; top: 0px; left: 0px; width: 100%; height: 70px; background-color: #34495e; color: white; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; z-index: 1000; }
.topbar-left { display: flex; align-items: center; gap: 10px; }
.topbar-left .toggle-btn { font-size: 14px; cursor: pointer; background:none; border:none; color:white; }
.topbar-left .logout { font-weight: bold; font-size: 1.2rem; }
.topbar-right { display: flex; align-items: center; gap: 10px; }
.topbar-right .input-view { font-weight: bold; font-size: 1.2rem; background-color: #34495e; }

/* Main content */
.mainContainer { position: absolute; left: 200px; top: 70px; width: calc(100% - 200px); padding: 20px; overflow-y: auto; background-color: #f5f5f5; transition: margin-left 0.25s ease, width 0.25s ease; }
 
/* 검색폼 */
.form-row { display: flex; justify-content: center; align-items: center; gap: 10px; margin-bottom: 10px; }
.form-row input { width: 100px; padding: 6px 10px; }
.form-select { flex: 1; width:  100% ; border-radius: 6px; outline: none; font-size: 12px; font-family: Arial, sans-serif; }
.form-input { flex: 1; width:  100% ; padding: 8px 10px; border: 1px solid #d1d5db; border-radius: 6px; outline: none; font-size: 12px; font-family: Arial, sans-serif; }

/* 버튼 그룹 */
.button-group { display: flex; flex-wrap: wrap; gap: 1px; } 
.btn { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; width: 100px; cursor: pointer; font-size: 12px; white-space: nowrap; background-color: #34495e; color: white; }
.btn:hover { background-color: #e0e0e0; color: #34495e; }
.btn-row { padding: 6px 8px; border:  0px solid #333; border-radius: 3px; cursor: pointer; width: 100px; font-size: 12px; white-space: nowrap; background-color: green; color: white; }
.btn-row:hover { background-color: #e0e0e0; color: #34495e; }
.btn-search { padding: 6px 8px; border:  0px solid #333; border-radius: 3px; cursor: pointer; width: 80px; font-size: 12px; white-space: nowrap; background-color: blue; color: white; }


.timer-warning { color: red !important; font-weight: bold; }

/* 테이블 */
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
th { background-color: #f4f4f4; }

.dark-code-table { background-color: #34495e; color: white; border-collapse: collapse; width: 400px; font-size: 12px; }
.dark-table { background-color: #34495e; color: white; border-collapse: collapse; width: 100%; font-size: 12px; }
.dark-table th { background-color: #34495e; color: white; justify-content: center; align-items: center; }
.dark-table td { border: 1px solid #555; padding: 5px; text-align: center; } 
.dark-table tbody { background-color: #f5f5f5; color: #000; } 
.dark-table tbody tr:nth-child(even) { background-color: #ececec; }
.dark-table tbody tr { height: 15px; }
.dark-table tbody tr:hover { color: blue; cursor: pointer; }

.clickable { cursor: pointer; color: red; }

.search-table { margin: 12px auto; border-collapse: collapse; }
.search-table tr td input { display: block; margin: 0 auto; }
.search-table th { padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; }
.search-table td { padding: 6px 8px; border: 1px solid #ddd; }
.search-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size: 12px; border: 1px solid #ccc; border-radius: 4px; }

.popupContainer { position: absolute; left: 0px; top: 0px; width: 100%; padding: 20px; overflow-y: auto; background-color: #f5f5f5; transition: margin-left 0.25s ease, width 0.25s ease; }
.popup-header { padding: 5px; display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; margin-bottom: 10px; }
.popup-title { margin: 0; font-size: 1.5em; }
.popup-table { width: 100%; border-collapse: collapse; border: 1px solid #ddd; }
.popup-table tr td input { display: block; margin: 0 auto; }
.popup-table th { width: 20%; padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; }
.popup-table td { padding: 6px 8px; border: 1px solid #ddd; font-size: 12px; }
.popup-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size:  12px; border: 1px solid #ccc; border-radius: 4px; }

.btn-close { background: transparent; border: none; font-size: 1.2em; cursor: pointer; }
.close-btn { position: fixed; top: 10px; right: 10px; background: #ff4d4d; color: #fff; border: none; padding: 8px 12px; border-radius: 6px; font-size: 16px; cursor: pointer; z-index: 1000; }
.close-btn:hover { background: #e60000; }

.pagination button { width: 25px; height: 25px; display: inline-flex; justify-content: center; align-items: center; padding: 0; margin: 0 2px; border: 1px solid #ccc; background: #f8f8f8; border-radius: 6px; cursor: pointer; font-size: 12px; }
.code-table { margin: 12px auto; border-collapse: collapse; width: 400px; }
input[readonly],textarea[readonly] { background-color: #f0f0f0; color: #555; border: 1px solid #ccc; }

.form-header { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; margin-bottom: 10px; gap: 8px; }
.form-header h2 { font-size: 20px; font-weight: bold; }

.form-table { margin: 12px auto; border-collapse: collapse; }
.form-table tr td input { display: block; margin: 0 auto; }
.form-table th { padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; width: 150px; } 
.form-table td { padding: 6px 8px; border: 1px solid #ddd; }
.form-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size: 12px; border: 1px solid #ccc; border-radius: 4px; }

.sidebar { position: fixed; top: 50px; left: 0px; width: 200px; height: calc(100vh - 60px); background-color: #34495e; color: white; overflow-y: auto; transition: width 0.25s ease; z-index: 999; font-size: 14px; }
.menu-section { list-style: none; margin: 0; padding: 0; }
.menu-title { font-size: 15px; font-weight: bold; padding: 10px 20px; color: #eeeeee; text-transform: uppercase; }
.menu-section a { display: block; padding: 10px 30px; color: white; text-decoration: none; font-size: 13px; transition: background 0.2s, padding-left 0.2s; }
.menu-section a:hover { background: #2f2f2f; padding-left: 26px; }
.menu-section a.active { background: #0d6efd; color: #fff; }

.sub-menu { overflow: hidden; max-height: 500px; transition: max-height 0.3s ease; }
.sub-menu.collapsed { max-height: 0; }
// .menu-title { cursor: pointer; display: flex; justify-content: space-between; }
.arrow { float: right; }


.divider { height: 1px; background: #444; margin: 10px 0; }
