/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

  :root {
     --bg-color: #fff;
     --main-bg-color: #fff;
     --main-text-color: ##474747;
     --main-border-color: #474747;
     --main-over-color: #f0f0f0;
     --main-over-text-color: #474747;

     --btn-bg-color: #f0f0f0;
     --btn-text-color: #000000;
     --btn-over-color: #474747;
     --btn-over-text-color: #f0f0f0;
     --btn-border-color: #333;

     --table-bg-color: #474747;
     --table-text-color: #f0f0f0;
     --table-border-color: #ddd;
     --search-table-border-color: #ddd;

     --tr-bg-color: #f0f0f0;
     --tr-text-color: #000000;

     --accent: #00aaff;
     --hover: #00ffcc;
     --section-bg: #111111;
     --shadow: rgba(0,0,0,0.6);

     --main-color: #5c9ad3;
     --main-color-over: #89b6df;
     --header-bg: #d7e2eb;
     --navbar-bg: #b8cfe4;
     --navbar-focus-color: #2d475d;
     --side-bg: #d7e2eb;
     --text-active-color: #358cdc;
     --bx-blue: #5c9ad3
  }

body, html { font-family: "Malgun Gothic", sans-serif; height: 100%; }


.container { display: flex; width: 900px; height: 940px; font-size: 12px; background-color: white}

/* Topbar */
.topbarContainer {
        position: fixed; top: 5px; left: 5px; width: calc(100% - 10px); height: 40px;
        background-color: var(--table-bg-color); color: var(--table-text-color);
        border: 1px solid var(--main-border-color); border-radius: 4px;
        font-family: "Malgun Gothic", sans-serif;
        display: flex; justify-content: space-between; align-items: center; padding: 0 20px; z-index: 1000;
        }
.sidebarContainer {
        position: fixed; top:50px; left: 5px; width: 180px; height: 850px;
        background-color: var(--main-bg-color); color: var(--main-text-color);
        border: 1px solid var(--main-border-color); border-radius: 4px;
        font-family: "Malgun Gothic", sans-serif;
        overflow-y: auto; transition: width 0.25s ease; z-index: 999; font-size: 14px;
        }
.mainContainer {
        position: absolute; left: 190px; top: 50px; width: calc(100% - 195px); height: 850px;
        background-color: var(--main-bg-color); color: var(--main-text-color);
        border: 1px solid var(--main-border-color); border-radius: 4px;
        font-family: "Malgun Gothic", sans-serif;
        padding: 10px; overflow-y: auto; background-color: white; transition: margin-left 0.25s ease, width 0.25s ease;
        }
.footbarContainer {
        position: fixed; top: 905px; left: 5px; width: calc(100% - 10px); height: 30px;
        background-color: var(--table-bg-color); color: var(--table-text-color);
        border: 1px solid var(--main-border-color); border-radius: 3px;
        font-family: "Malgun Gothic", sans-serif; font-size: 12px;
        display: flex; justify-content: space-between; align-items: center; padding: 0 20px; z-index: 1000;
        }

.iframeContainer {
        position: absolute; left: 190px; top: 50px; width: calc(100% - 195px); height: 850px;
        background-color: var(--main-bg-color); color: var(--main-text-color);
        border: 0px solid var(--main-border-color); border-radius: 4px;
        font-family: "Malgun Gothic", sans-serif;
        display: flex;  gap: 5px;
        }

.iframeMainContainer {
        position: fixed; top: 5px; left: 5px;
        width: calc(100% - 10px);
        background-color: var(--main-bg-color); color: var(--main-text-color);
        padding 5px; gap 5px;
        }

.topbar-left { display: flex; align-items: center; gap: 10px; }
.topbar-right { display: flex; align-items: center; gap: 10px; }
.topbar-right .userInfo {font-size: 12px; }
.topbar-right .logout {font-size: 12px; }
.topbar-right .input-view { font-weight: bold; font-size: 12px; background-color: var(--bg-color); }

.footbar-left { display: flex; align-items: center; gap: 10px; }
.footbar-left .userAgent {font-size: 12px; }

ul { list-style: none; padding: 0; margin: 0;}

.sidebar-title  { padding: 5px 0px 5px 20px; margin: 5px; font-size: 13px; font-weight: bold; border: 0px solid white;}
.sidebar-menu   { padding: 0px 5px 0px 30px; margin: 5px; font-size: 12px; font-weight: bold; border: 0px solid white;}
.sidebar-menu li a { display: block; padding: 8px 0; text-decoration: none; background-color: var(--main-bg-color); color: var(--main-text-color);}
.sidebar-menu li a:hover,
.sidebar-menu a:active { font-size: 12px; background-color: var(--main-over-color); color: var(--main-over-text-color);}
.sidebar-menu li a:link,
.sidebar-menu a:visited { background-color: var(--main-bg-color); color: var(--main-text-color);}
.timer-warning { color: red !important; font-weight: bold; }

/* 테이블 */
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
th { background-color: #fff; }

.search-table { margin: 5px 0; width: 100%; border-collapse: collapse; border: 1px solid var(--search-table-border-color);}
.search-table th { padding: 2px; text-align: center; font-size: 12px; background-color: #f0f0f0; min-width: 120px; width: 150px; white-space: nowrap;}
.search-table td { padding: 2px;  font-size: 12px; }
.search-table .form-input,
.search-table .form-select { width: 100%; height: 24px; line-height: 24px; padding: 0 8px; box-sizing: border-box; font-size: 12px; border: 1px solid #ccc; border-radius: 2px;}


.data-table {
    background-color: #fff; color: black;
    border-collapse: collapse;
    width: 100%; font-size: 12px;
    border: 1px solid #474747;
}
.data-table th {
    background-color: var(--table-bg-color); color: var(--table-text-color);
    height: 20px;
    line-height: 20px;
    justify-content: center; align-items: center;
    border: 1px solid #fff; font-weight: bold;
 }

.data-table td {
    text-align: center;
    line-height: 20px;
    border: 1px solid #474747;
    padding: 5px;
 }

.data-table tbody {
    background-color: white; color: black;
}

.data-table tbody td {
    text-align: center;
    line-height: 20px;
    border: 1px solid var(--table-text-color);
    border-bottom: 1px solid var(--table-text-color);
    padding: 5px;
 }

/*  .data-table tbody tr:nth-child(even) { background-color: #eeeeee; } */

.data-table tbody tr { height: 14px; }
.data-table tbody tr:hover {background-color: var(--tr-bg-color); color: var(--tr-text-color); cursor: pointer;}


.popupContainer { position: absolute; left: 0px; top: 0px; width: 100%; padding: 20px; overflow-y: auto; background-color: white; transition: margin-left 0.25s ease, width 0.25s ease; }
.popup-header { padding: 5px; display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; margin-bottom: 10px; }
.popup-title { margin: 0; font-size: 20px; }
.popup-table { width: 100%; border-collapse: collapse; border: 1px solid #ddd; margin: 5px auto; }
.popup-table tr td input { display: block; margin: 0 auto; }
.popup-table th { padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; width: 150px; }
.popup-table td { padding: 6px 8px; border: 1px solid #ddd; font-size: 12px; }
.popup-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size: 12px; border: 1px solid #ccc; border-radius: 4px; }

.clickable { cursor: pointer; color: blue; font-weight: bold;}

.btn-close { background: transparent; border: none; font-size: 1.2em; cursor: pointer; }
.close-btn { position: fixed; top: 10px; right: 10px; background: #ff4d4d; color: #fff; border: none; padding: 8px 12px; border-radius: 4px; font-size: 16px; cursor: pointer; z-index: 1000; }
.close-btn:hover { background: #e60000; }

.pagination button { width: 25px; height: 25px; display: inline-flex; justify-content: center; align-items: center; padding: 0; margin: 0 2px; border: 1px solid #ccc; background: #ffffff; border-radius: 4px; cursor: pointer; font-size: 12px; }

.code-table { margin: 12px auto; border-collapse: collapse; width: 400px; }
input[readonly],textarea[readonly],select[readonly]  { background-color: #f0f0f0; color: #555; border: 1px solid #ccc; }

.form-header { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; margin-bottom: 10px; gap: 8px; }
.form-header h2 { font-size: 20px; font-weight: bold; }


#uploadPreviewTable { table-layout: fixed; width: 100%;}
#codeGroupFrame { width: 100%; height: calc(100% - 40px); border: none;}

.col-no { width: 50px; min-width: 50px; max-width: 50px; text-align: center;}
.align-left   { text-align: left; }
.align-center { text-align: center; }
.align-right  { text-align: right; }

.btn.ok { background: #2563eb; color: #fff;}
.btn.cancel { background: #ccc;}



.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 99999;
}

.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    transform: translate(-50%, -50%);
    background: #fff;
}


.divider   { height: 3px; background: var(--main-border-color); margin: 3px 10px; flex-wrap: nowrap; }
.divider-h { height: 1px; background: var(--main-border-color); flex-wrap: nowrap; }

.page-header {
    display: flex; margin: 0px 0px 5px 10px;
    align-items: center;        /* 수직 정렬 */
    justify-content: space-between; /* 좌 / 우 분리 */
}


/* 버튼 그룹 */
.button-group { display: flex; flex-wrap: wrap; gap: 3px; justify-content: flex-end; }

.btn {
    background-color: var(--btn-bg-color); color: : var(--btn-text-color);
    border: 1px solid var(--btn-border-color); border-radius: 3px;
    width: 90px; height: 25px; cursor: pointer; font-size: 12px; white-space: nowrap;
    }
.btn:hover {
    background-color: var(--btn-over-color); color: var(--btn-over-text-color);
    font-weight: bold;
}

.btn-chk {
    background:#16a34a; color:#fff; border-color:#16a34a;
    border: 1px solid var(--btn-border-color); border-radius: 3px;
    width: 90px; height: 25px; cursor: pointer; font-size:12px; white-space: nowrap;
}

.btn-chk:hover {
    background-color: var(--btn-over-color); color: yellow; font-weight: bold;
}

.btn-bottom { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; width: 100px; cursor: pointer; font-size: 12px; white-space: nowrap; background-color: green; color: white; width: 150px;}
.btn-bottom:hover { background-color: black; color: yellow; font-weight: bold; }
.btn-search { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; cursor: pointer; width: 80px; font-size: 12px; white-space: nowrap; background-color: blue; color: white; }

/* 버튼별 색상 */
.btn-search { background-color: #4f81bd; color: #fff; }
.btn-apply  { background-color: #70ad47; color: #fff; }
.btn-reset  { background-color: #a6a6a6; color: #fff; }
.btn-close  { background-color: #595959; color: #fff; }
.btn-save   { background-color: #ed7d31; color: #fff; }

.btn svg {
  stroke-width: 2;
}

.btn.primary { background:#2563eb; color:#fff; border-color:#2563eb; }
.btn.success { background:#16a34a; color:#fff; border-color:#16a34a; }
.btn.warning { background:#f59e0b; color:#fff; border-color:#f59e0b;}


textarea.form-input {
    font-family: "Malgun Gothic", sans-serif;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical; /* 사용자가 세로로만 크기를 조절할 수 있게 제한 */
    box-sizing: border-box; /* 패딩이 전체 너비에 포함되도록 설정 */
    width: 100%;
}
.iframe-container {
    display: flex;
    width: 100%;
}

.iframe-left {
    flex: 6;
    height: 850px;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
}

.iframe-right {
    flex: 4;
    height: 850px;
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
}
