/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

  :root {
 --bg-color: #474747;
 --text-color: #fff;
 --accent: #00aaff;
 --hover: #00ffcc;
 --section-bg: #111111;
 --shadow: rgba(0,0,0,0.6);
  }

body, html { font-family: "맑은 고딕", Verdana, sans-serif; height: 100%; }

/* 전체 레이아웃 */
.layout { display: flex; width: 100%; height: 100vh; padding-top: 60px; font-size: 12px; }

/* Topbar */
.topbar { position: fixed; top: 0px; left: 0px; width: 100%; height: 60px; background-color: var(--bg-color); color: white; display: flex; justify-content: space-between; align-items: center; padding: 0 20px; z-index: 1000; }

.topbar-left { display: flex; align-items: center; gap: 10px; }
.topbar-left .toggle-btn { font-size: 14px; cursor: pointer; background:none; border:none; color:white; }

.topbar-menu .list { display: flex; list-style: none; padding: 5; margin: 5; font-weight: bold;}
.topbar-menu .list li { padding: 0 20px;  cursor: pointer; font-weight: bold; line-height: 50px;}
.topbar-menu .list li:hover { background-color: var(--bg-color);  color: yellow; }

.topbar-right { display: flex; align-items: center; gap: 10px; }
.topbar-right .logout {font-size: 1.0rem; }
.topbar-right .input-view { font-weight: bold; font-size: 1.2rem; background-color: var(--bg-color); }

.mainContainer { position: absolute; left: 200px; top: 60px; width: calc(100% - 200px);
  padding: 20px; overflow-y: auto; background-color: white; transition: margin-left 0.25s ease, width 0.25s ease; }

.regContainer { position: absolute; left: 200px; top: 60px; width: calc(100% - 200px);
  padding: 20px; overflow-y: auto; background-color: white; transition: margin-left 0.25s ease, width 0.25s ease; }
/* 검색폼 */
.form-row { display: flex; justify-content: center; align-items: center; gap: 10px; margin-bottom: 10px; }
.form-row input { width: 100px; padding: 6px 10px; }
.form-select { flex: 1; width:  100% ; border-radius: 6px; outline: none; font-size: 12px; font-family: Arial, sans-serif; }
.form-input { flex: 1; width:  100% ; padding: 8px 10px; border: 1px solid #d1d5db; border-radius: 6px; outline: none; font-size: 12px; font-family: Arial, sans-serif; }

/* 버튼 그룹 */
.button-group { display: flex; flex-wrap: wrap; gap: 1px; }
.btn { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; width: 100px; cursor: pointer; font-size: 12px; white-space: nowrap; background-color: black; color: white; }
.btn:hover { background-color: black; color: yellow; font-weight: bold;}

.btn-row { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; width: 100px; cursor: pointer; font-size: 12px; white-space: nowrap; background-color: black; color: white;}
.btn-row:hover { background-color: black; color: yellow; font-weight: bold; }

.btn-bottom { padding: 6px 8px; border: 0px solid #333; border-radius: 3px; width: 100px; cursor: pointer; font-size: 12px; white-space: nowrap; background-color: green; color: white; width: 150px;}
.btn-bottom:hover { background-color: black; color: yellow; font-weight: bold; }
.btn-search { padding: 6px 8px; border:  0px solid #333; border-radius: 3px; cursor: pointer; width: 80px; font-size: 12px; white-space: nowrap; background-color: blue; color: white; }

.hidden { display: none;}
.timer-warning { color: red !important; font-weight: bold; }

/* 테이블 */
table { width: 100%; border-collapse: collapse; }
th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
th { background-color: #f4f4f4; }

.search-table { margin: 10px auto; border-collapse: collapse; }
.search-table tr td input { display: block; margin: 0 auto; }
.search-table th { padding: 4px 4px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; width: 150px; }
.search-table td { padding: 4px 4px; border: 1px solid #ddd; font-size: 12px; }
.search-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size: 12px; border: 1px solid #ddd; border-radius: 2px; }

.data-table { background-color: #f0f0f0; color: black; border-collapse: collapse; width: 100%; font-size: 12px; }
.data-table th { background-color: #f0f0f0; color: black; justify-content: center; align-items: center; border: 1px solid #ddd; font-weight: bold; }
.data-table td { border: 1px solid #ddd; padding: 5px; text-align: center; }
.data-table tbody { background-color: white; color: #000; }
// .data-table tbody tr:nth-child(even) { background-color: #eeeeee; }
.data-table tbody tr { height: 15px; }
.data-table tbody tr:hover { color: blue; cursor: pointer; background-color: #eeeeee;}

.clickable { cursor: pointer; color: blue; font-weight: bold;}

.popupContainer { position: absolute; left: 0px; top: 0px; width: 100%; padding: 20px; overflow-y: auto; background-color: white; transition: margin-left 0.25s ease, width 0.25s ease; }
.popup-header { padding: 5px; display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; margin-bottom: 10px; }
.popup-title { margin: 0; font-size: 1.5em; }
.popup-table { width: 100%; border-collapse: collapse; border: 1px solid #ddd; }
.popup-table tr td input { display: block; margin: 0 auto; }
.popup-table th { padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; width: 150px; }
.popup-table td { padding: 6px 8px; border: 1px solid #ddd; font-size: 12px; }
.popup-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size:  12px; border: 1px solid #ccc; border-radius: 4px; }

.btn-close { background: transparent; border: none; font-size: 1.2em; cursor: pointer; }
.close-btn { position: fixed; top: 10px; right: 10px; background: #ff4d4d; color: #fff; border: none; padding: 8px 12px; border-radius: 6px; font-size: 16px; cursor: pointer; z-index: 1000; }
.close-btn:hover { background: #e60000; }

.pagination button { width: 25px; height: 25px; display: inline-flex; justify-content: center; align-items: center;
   padding: 0; margin: 0 2px; border: 1px solid #ccc; background: #ffffff; border-radius: 6px; cursor: pointer; font-size: 12px; }
.code-table { margin: 12px auto; border-collapse: collapse; width: 400px; }
input[readonly],textarea[readonly] { background-color: #f0f0f0; color: #555; border: 1px solid #ccc; }

.form-header { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; margin-bottom: 10px; gap: 8px; }
.form-header h2 { font-size: 20px; font-weight: bold; }

.form-table { margin: 12px auto; border-collapse: collapse; }
.form-table tr td input { display: block; margin: 0 auto; }
.form-table th { padding: 6px 10px; text-align: center; font-weight: bold; font-size: 12px; background-color: #f0f0f0; border: 1px solid #ddd; width: 150px; }
.form-table td { padding: 6px 8px; border: 1px solid #ddd; font-size: 12px; }
.form-table .form-input { width: 100%; box-sizing: border-box; padding: 5px 8px; font-size: 12px; border: 1px solid #ddd; border-radius: 4px; }

.divider { height: 1px; background: #e0e0e0; margin: 10px 0; }
.divider-h { height: 2px; background: var(--bg-color); margin: 10px 0; } { height: 2px; background: var(--bg-color); margin: 10px 0; }

.sidebar { position: fixed; top: 60px; left: 0px; width: 200px; height: calc(100vh - 60px);
    font-family: "맑은 고딕", Verdana, sans-serif; background-color: var(--bg-color); color: white; overflow-y: auto; transition: width 0.25s ease; z-index: 999; font-size: 14px; }

.menu-section { margin-bottom: 10px;}
.menu-title { font-weight: bold; padding: 20px; cursor: pointer; display: flex; justify-content: space-between;
    align-items: center; background-color: var(--bg-color); transition: background-color 0.2s;  font-size: 16px;}
.menu-title:hover { background-color: var(--bg-color);}

.sub-menu { padding-left: 10px; overflow: hidden; max-height: 600px; opacity: 1; transition: max-height 0.3s ease-out, opacity 0.3s ease-out; color: white;}
.sub-menu.hide { max-height: 0; opacity: 0; margin: 0; }
.sub-menu li a { display: block; padding: 8px 0; text-decoration: none; color: white; font-size: 14px;}
.sub-menu li a:hover { color: yellow; font-weight: bold;}

ul { list-style: none; padding: 0; margin: 0;}

#uploadPreviewTable { table-layout: fixed; width: 100%;}

.col-no { width: 50px; min-width: 50px; max-width: 50px; text-align: center;}

.modal.hidden { display: none; } 
.modal { position: fixed; inset: 0; z-index: 100000;} 
.modal-overlay { position: absolute; inset: 0; background: rgba(0,0,0,0.45);}
.modal-box { position: relative; width: 360px; margin: 15% auto; padding: 20px; background: #fff; border-radius: 6px;}
.modal-box h3 { margin-bottom: 10px;}
.modal-actions { display: flex; justify-content: flex-end; gap: 8px;}
.btn.ok { background: #2563eb; color: #fff;}
.btn.cancel { background: #ccc;}
