body { margin: 0; font-family: "Segoe UI", Arial, sans-serif; background: #f9fafb;}
.login-container { display: flex; justify-content: center; align-items: flex-start;  height: 100vh; padding-top: 100px; }
.login-box { width: 400px; background: #fff; padding: 32px; border-radius: 12px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);}
.login-box h2 { text-align: center; margin-bottom: 24px; font-size: 30px; font-weight: 800;}
.form-row { display: flex; align-items: center; gap: 12px; margin-bottom: 12px;}
.form-label { width: 100px; text-align: right; font-weight: 600; color: #111827;}
.required { color: #f87171; margin-left: 2px;}
.form-input { flex: 1; padding: 8px 10px; border: 1px solid #d1d5db; border-radius: 6px; outline: none; font-size: 14px;}
.form-input:focus { border-color: #06b6d4; box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.2);}
.btn-wrap { display: flex; justify-content: center; margin-top: 16px;}
.btn { padding: 8px 12px; border-radius: 8px; background: #06b6d4; color: white; border: none; cursor: pointer; font-weight: 800; width: 100%;}
.btn:hover { background: #0891b2; transform: translateY(-1px);  box-shadow: 0 3px 6px rgba(0,0,0,0.15);}