<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/sideLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>
    <script src="/js/excelUtils.js" defer></script>

</head>
<body>
<div class="container">
    <div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
    <div class="mainHeadContainer">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 표준도메인 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnInit" type="button" class="btn">초기화
                </button>
                <button id="btnSearch" type="button" class="btn">조회
                </button>
                <button id="btnReg" type="button" class="btn">등록
                </button>
                <button id="btnRegEblc" type="button" class="btn">일괄등록
                </button>
                <button id="btnExcel" type="button" class="btn">Excel 저장</button>
            </div>
        </div>

        <div class="mainBodyContainer">
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>도메인분류명</th>
                    <td><input type="text" id="dmnClsfNm" name="dmnClsfNm" class="form-input" ></td>
                    <th>도메인명</th>
                    <td><input type="text" id="dmnNm" name="dmnNm" class="form-input" ></td>
                    <th>상태</th>
                    <td>
                        <select id="sttsCd" name="sttsCd" class="form-select">
                            <option value="">전체</option>
                            <option value="0">신청</option>
                            <option value="1">사용</option>
                            <option value="9">미사용</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>


        <div id="pageInfoContainer" class="page-header"></div>


        <table class="data-table" id="mainTable">
            <thead>
            <tr>
                <th class="col-no">번호</th>
                <th width="150px">도메인분류명</th>
                <th width="150px">도메인명</th>
                <th width="150px">도메인영문명</th>
                <th width="250px">도메인속성</th>
                <th width="50px" style="text-align: center;">상태</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
   </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", () => {
        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");

        // 페이지 탑바 container에 include
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
            .then(res => res.text())
            .then(html => {
                container.innerHTML = html;
                const pageSizeSelect = document.getElementById("pageSize");
                if (!pageSizeSelect) return;

                pageSizeSelect.addEventListener("change", () => {
                    PAGE_SIZE = Number(pageSizeSelect.value);
                    currentPage = 1;
                    renderTable(currentPage);
                    renderPagination(dataAll, currentPage, PAGE_SIZE);
                    updatePageInfo(dataAll, currentPage, PAGE_SIZE);
                });
            });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                return;
            }
            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click" data-id="${item.dmnNm}">
                    <td style="text-align: center;"> ${start + index + 1} </td>
                    <td style="text-align: left;">${item.dmnClsfNm}</td>
                    <td style="text-align: left;">${item.dmnNm}</td>
                    <td style="text-align: left;">${item.dmnEngNm}</td>
                    <td style="text-align: left;">${item.dmnAtrb}</td>
                    <td style="text-align: center;">${item.sttsNm}</td>
                </tr>
            `).join('');

            /** 상세 클릭  **/
            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("dblclick", () => {
                    const dmnNmIn = tr.getAttribute("data-id");
                    const sendData = { mode: "S", dmnNm: dmnNmIn };
                    openWindowWithJSON(sendData, "/meta/dmn/dmnMng", 800, 450);
                });
            });
        }

        window.refreshParentRow = function(data) {
            const refreshMap = {
                dmnClsfNm: 'td:nth-child(3)',
                dmnEngNm: 'td:nth-child(4)',
                dmnAtrb: 'td:nth-child(5)',
                sttsCd: 'td:nth-child(6)'
            };
            window.updateRowDataFlexible(data, 'dmnNm', refreshMap);
        }

        /** 조회 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            initScreen();
            const data = formToJson(document.getElementById('mainForm'));
            fetch('/meta/getDmnListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                if (!Array.isArray(dataAll) || dataAll.length === 0) {
                    document.getElementById("pageInfo").innerText = `조회 결과가 없습니다.`;
                    return
                }
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });
    });

    /** 초기화 **/
    document.getElementById('btnInit').addEventListener('click', () => {
        document.getElementById('mainForm').reset();
        initScreen();
    });

    /** 등록 **/
    document.getElementById('btnReg').addEventListener('click', () => {
        const sendData = { mode: "I"};
        openWindowWithJSON(sendData, "/meta/dmn/dmnMng", 800, 450);
    });
    /**  일괄등록 **/
    document.getElementById('btnRegEblc').addEventListener('click', () => {
        window.location.href = "/meta/dmn/dmnRegEblc";
    });


    document.getElementById('btnExcel').addEventListener('click', () => {
        downloadTableToExcel('mainTable', '표준도메인목록');
    });

</script>
<script src="/js/functionKey.js"></script>
</body>
</html>