<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/layout.js" defer></script>
    <script src="/js/commonUtils.js"></script>
    <script src="/js/pagenation.js"></script>
</head>
<body>
<div id="topbarContainer"></div>
<div class="container">
    <div id="sidebarContainer"></div>
    <div class="mainContainer" id="mainContainer">
        <div class="form-header" style="display:flex; align-items:center; justify-content:space-between; margin-bottom:10px;">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 신청내역 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group" style="display:flex; gap:8px;">
                <button id="btnApprove" class="btn-row">일괄승인</button>
                <button id="btnInit" class="btn">초기화</button>
                <button id="btnSearch" class="btn">조 회</button>
            </div>
        </div>
        <div class="divider-h"></div>
        <form id="mainForm">  <table class="search-table">
            <tr>
                <th>신청자ID</th>
                <td style="display:flex; align-items:center; gap:4px;">
                    <input type="text" id="userId"  name="userId" class="form-input">
                    <button id="btnPopup" type="button">🔍</button>
                </td>
                <th>신청자이름</th>
                <td><input type="text" id="userNm"  name="userNm" class="form-input"  readonly></td>
                <th>신청구분</th>
                <td width="10%">
                    <select id="se"  name="se" class="form-input">
                        <option value="">전체</option>
                    </select>
                </td>
            </tr>
        </table>
        </form>
        <div class="divider-h"></div>

        <div id="pageTopBarContainer"></div>

        <table style="margin-top:12px" class="data-table">
            <thead>
            <tr>
                <th width="50px" style="text-align: center;">번호</th>
                <th style="width: 40px; text-align:center;">
                    <input type="checkbox" id="checkAll">
                </th>
                <th width="100px" style="text-align: center;">신청구분</th>
                <th width="200px">신청내용</th>
                <th width="200px">영문명</th>
                <th>비고</th>
                <th width="80px" style="text-align: center;">신청자</th>
                <th width="150px" style="text-align: center;">신청일자</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div><!-- /mainContainer -->
</div><!-- /container -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadCodeCombo('APRV_CD', 'se');

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.querySelector('.data-table tbody');
        const btnSearch = document.getElementById('btnSearch');
        setTimeout(() => {
            btnSearch.click();
        }, 30);

        // 페이지 탑바 container에 include
        const container = document.getElementById("pageTopBarContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;
            pageSizeSelect.addEventListener("change", () => {
                PAGE_SIZE = Number(pageSizeSelect.value);
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            });
        });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="8" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }
            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr data-se="${item.se}" data-id="${item.id}" data-nm="${item.korNm}">
                    <td style="text-align: center;"> ${start + index + 1}</td>
                    <td style="text-align:center;"> <input type="checkbox" class="row-check"> </td>
                    <td style="text-align: center;">${item.seNm}</td>
                    <td style="text-align: left;">${item.korNm}</td>
                    <td style="text-align: left;">${item.engNm}</td>
                    <td style="text-align: left;">${truncateText(item.rmk, 100)}</td>
                    <td style="text-align: center;">${item.crtId}</td>
                    <td style="text-align: center;">${item.crtDttm}</td>
                </tr>
            `).join('');
        }

        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
            tableBody.innerHTML = "";
            document.getElementById('pageInfo').innerText = "";
            dataAll = [];
            document.getElementById("checkAll").checked = false;
            const old = document.querySelector(".pagination");
            if (old) old.remove();
        });

        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = formToJson(document.getElementById('mainForm'));
            document.getElementById("checkAll").checked = false;
            fetch('/meta/getAprvDsctnList', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });


        document.getElementById("btnApprove").addEventListener("click", async () => {
            const rows = getCheckedRowValues();
            if (rows.length === 0) {
                alert("승인할 항목을 선택하세요.");
                return;
            }
            if (!confirm(`${rows.length}건을 승인하시겠습니까?`)) return;

            const results = await Promise.all(
                rows.map(row => approveOne(row.se, row.id, row.korNm))
            );

            const resultsCount = results.length;

            alert(`일괄 승인 완료\n처리: ${resultsCount}건 `);

            document.getElementById("checkAll").checked = false;
            btnSearch.click();
        });

        document.addEventListener("change", (e) => {
            if (e.target.id === "checkAll") {
                document.querySelectorAll(".row-check").forEach(cb => {
                    cb.checked = e.target.checked;
                });
            }
        });

        // 승인내역처리
        async function approveOne(se, id, korNm) {
            const userId = localStorage.getItem("userId");
            const response = await fetch("/meta/prcsAprvDsctn", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ se, id, korNm, userId })
            });
            if (!response.ok) {
                console.error(`승인 실패: ${id}`);
            }
        }

        document.getElementById('btnPopup').addEventListener('click', () => {
            const payload = {};
            openWindowWithJSON(payload, "/meta/userPopup", 800, 500);
        });
    });

    function getCheckedRowValues() {
        const list  = [];
        document.querySelectorAll(".row-check:checked").forEach(cb => {
            const tr = cb.closest("tr");
            list.push({
                korNm: tr.dataset.nm,
                id: tr.dataset.id,
                se: tr.dataset.se
            });
        });
        return list;
    }

    function receiveCode(id, nm) {
        document.getElementById("userId").value = id;
        document.getElementById("userNm").value = nm;
    }
</script>
<script src="/js/commonCombo.js"></script>
</body>
</html>