<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/commonUtils.js" defer></script>

</head>
<body>
    <div class="popupContainer" id="popupContainer">
        <div class="form-header">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 그룹코드 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnInit" type="button" class="btn">초기화</button>
                <button id="btnSearch" type="button" class="btn">조회</button>
                <button id="btnClose" type="button" class="btn">닫기</button>
            </div>
        </div>
        <div class="divider-h"></div>
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>공통코드명</th>
                    <td><input type="text" id="grpNm" class="form-input" placeholder="코드명 입력"></td>
                    <th>공통코드</th>
                    <td><input type="text" id="grpCd" class="form-input" placeholder="코드 입력"></td>
                </tr>
            </table>
        </form>
        <div class="divider-h"></div>

        <div id="pageInfoContainer" class="page-header"></div>

        <table class="data-table" id="mainTable">
            <thead>
            <tr>
                <th width="100px" style="text-align: center;">번호</th>
                <th>공통코드명</th>
                <th>공통코드</th>
                <th>비고</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div><!-- /mainContainer -->


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector('.data-table tbody');

        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
            .then(res => res.text())
            .then(html => {
                container.innerHTML = html;
                const pageSizeSelect = document.getElementById("pageSize");
                if (!pageSizeSelect) return;

                pageSizeSelect.addEventListener("change", () => {
                    PAGE_SIZE = Number(pageSizeSelect.value);
                    currentPage = 1;
                    renderTable(currentPage);
                    renderPagination(dataAll, currentPage, page_size);
                    updatePageInfo(dataAll, currentPage, page_size);
                });
            });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="4" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click" data-grpcd="${item.grpCd}" data-grpnm="${item.grpNm}">
                    <td style="text-align: center;">  ${start + index + 1}</td>
                    <td style="text-align: left;">${item.grpNm}</td>
                    <td style="text-align: left;">${item.grpCd}</td>
                    <td style="text-align: left;">${item.rmk}</td>
                </tr>
            `).join('');

            /** 상세 클릭 이벤트 **/
            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("dblclick", () => {
                    const grpCd = tr.dataset.grpcd;
                    const grpNm = tr.dataset.grpnm;

                    // 부모창으로 값 전달
                    if (window.opener && !window.opener.closed && typeof window.opener.receiveCode === 'function') {
                        window.opener.receiveCode(grpCd, grpNm);
                        const sendData = JSON.parse(sessionStorage.getItem('codeGroupsendData') || "{}");
                        localStorage.setItem('grpCd', grpCd);
                    }

                    // 팝업 닫기
                    window.close();
                });
            });
        }


        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
            tableBody.innerHTML = "";
            dataAll = [];
            document.getElementById('pageInfo').innerText = "";
            const old = document.querySelector(".pagination");
            if (old) old.remove();
        });

        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            const grpCd = document.querySelector("#grpCd").value.trim();
            const grpNm = document.querySelector("#grpNm").value.trim();
            fetch('/meta/getCodeGroupListData', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ grpCd: grpCd, grpNm: grpNm, stat: '1' })
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });

        document.getElementById("btnClose").addEventListener("click", () => {
            window.close();
        });
    });
</script>
</body>
</html>