<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/layout.js" defer></script>
    <script src="/js/commonUtils.js"></script>
    <script src="/js/pagenation.js"></script>
</head>
<body>
    <div class="popupContainer" id="popupContainer">
        <div class="form-header">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 상세코드 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnSearch" class="btn">검색</button>
                <button id="btnClose" class="btn">닫기</button>
            </div>
        </div>

        <div class="divider-h"></div>
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>공통코드</th>
                    <td><input type="text" id="grpCd" name="grpCd" class="form-input" readonly></td>
                    <th>공통코드명</th>
                    <td><input type="text" id="grpNm" name="grpNm" class="form-input" readonly></td>

                </tr>
            </table>
        </form>
        <div class="divider-h"></div>

        <div id="pageInfoContainer" class="page-header"></div>

        <table style="margin-top:12px" class="data-table" id="mainTable">
            <thead>
            <tr>
                <th width="50px" style="text-align: center;">번호</th>
                <th>상세코드</th>
                <th>상세코드명</th>
                <th>비고</th>
                <th width="100px" style="text-align: center;">정렬순서</th>
                <th  width="100px"  style="text-align: center;">상태</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div><!-- /mainContainer -->

<script>

    document.addEventListener("DOMContentLoaded", () => {

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector('.data-table tbody');
        const savedGrpCd = localStorage.getItem('grpCd');
        const savedGrpNm = localStorage.getItem('grpNm');
        if (savedGrpCd) {
            document.getElementById('grpCd').value = savedGrpCd;
            document.getElementById('grpNm').value = savedGrpNm;
            const btnSearch = document.getElementById('btnSearch');
            setTimeout(() => {
                btnSearch.click();
                localStorage.removeItem("grpCd");
            }, 30);
        }

        // 페이지 탑바 container에 include
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;
            pageSizeSelect.addEventListener("change", () => {
                <!--                PAGE_SIZE = Number(pageSizeSelect.value);-->
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            });
        });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="8" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr>
                    <td style="text-align: center;"> ${start + index + 1}</td>
                    <td style="text-align: left;">${item.cd}</td>
                    <td style="text-align: left;">${item.cdNm}</td>
                    <td style="text-align: left;">${item.rmk}</td>
                    <td style="text-align: center;">${item.ord}</td>
                    <td style="text-align: center;"> ${item.stat === '1' ? '사용' : item.stat === '9' ? '미사용' : ' '} </td>
                </tr>
            `).join('');
        }

        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = formToJson(document.getElementById('mainForm'));
            fetch('/meta/getCodeListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });
    });

   document.getElementById("btnClose").addEventListener("click", () => {
            window.close();
   });

</script>
</body>
</html>