<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/sideLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>
</head>
<body>
<div class="container">
    <div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
    <div class="iframeContainer">
        <iframe src="/meta/commCodeGroup" class="iframe-left"></iframe>
        <iframe src="/meta/commCodeDetl" class="iframe-right"></iframe>
    </div>
    <!-- <div id="footbarContainer"></div> -->
</div><!-- /container -->
</body>
</html>