<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/layout.js" defer></script>
    <script src="/js/commonUtils.js"></script>
    <script src="/js/pagenation.js"></script>
</head>
<body>

<div class="iframeMainContainer">
        <div class="form-header">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 공통코드 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">
                <button id="btnSearch" class="btn">조회</button>
                <button id="btnInit" class="btn">초기화</button>
            </div>
        </div>

        <div class="divider-h"></div>
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>공통코드</th>
                    <td><input type="text" id="grpCd" name="grpCd" class="form-input"></td>
                    <th>공통코드명</th>
                    <td><input type="text" id="grpNm"  name="grpNm" class="form-input"></td>
                    <th>상태</th>
                    <td>
                        <select id="stat"  name="stat" class="form-select">
                            <option value="">전체</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        <div class="divider-h"></div>

        <div id="pageInfoContainer" class="page-header"></div>

        <table id="mainTable"  style="margin-top:12px" class="data-table">
            <thead>
            <tr>
                <th class="col-no">번호</th>
                <th width="150px">공통코드</th>
                <th width="250px">공통코드명</th>
                <th>비고</th>
                <th width="120px" style="text-align: center;">상태</th>

            </tr>
            </thead>
            <tbody></tbody>
        </table>

</div><!-- /container -->

<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadCodeCombo('STAT', 'stat');

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        const table = document.getElementById("mainTable");
        window.tableBody = document.getElementById("mainTable").querySelector('.data-table tbody');

        // 페이지 탑바 container에 include
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;
            pageSizeSelect.addEventListener("change", () => {
                <!--                PAGE_SIZE = Number(pageSizeSelect.value);-->
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            });
        });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="7" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click" data-id="${item.grpCd}" data-grpNm="${item.grpNm}" >
                    <td style="text-align: center;"> ${start + index + 1} </td>
                    <td style="text-align: left;">  ${item.grpCd} </td>
                    <td style="text-align: left;">${item.grpNm}</td>
                    <td style="text-align: left;">${item.rmk}</td>
                    <td> ${item.stat === '0' ? '신청'  : item.stat === '1' ? '사용' :   item.stat === '9' ? '미사용' : '-'} </td>
                </tr>
            `).join('');


            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("dblclick", () => {
                    const grpCd = tr.getAttribute("data-id");
                    const payload = { mode: "S", grpCd: grpCd };
                    openWindowWithJSON(payload, "/meta/codeGroupChg", 700, 550);
                });
            });

            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("click", () => {
                    const grpCd = tr.getAttribute("data-id");
                    const grpNm = tr.getAttribute("data-grpNm");

                    localStorage.setItem('grpCd', grpCd);
                    localStorage.setItem('grpNm', grpNm);
                });
            });

            window.refreshParentRow = function(data) {
                const refreshMap = {
                    grpNm: 'td:nth-child(3)',
                    rmk: 'td:nth-child(4)',
                    stat: 'td:nth-child(5)'
                };
                window.updateRowDataFlexible(data, 'grpCd', refreshMap);
            }
        }


        // Enter Key
        document.addEventListener('keydown', (e) => {
            if (e.key === 'Enter') {
                document.getElementById('btnSearch').click();
            }
        });

        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
            initScreen();
        });

        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            initScreen();
            const data = formToJson(document.getElementById('mainForm'));
            fetch('/meta/getCodeGroupListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });
    });

</script>
<script src="/js/commonCombo.js"></script>
</body>
</html>