<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/layout.js" defer></script>
</head>
<body>
<div class="container">
    <div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
    <div class="iframeContainer">
        <iframe src="/meta/commCodeList" class="iframe-left"></iframe>
        <iframe src="/meta/commCodeDetl" class="iframe-right"></iframe>
    </div>
    <div id="footbarContainer"></div>
</div><!-- /container -->
</body>
</html>