<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/mainLayout.css">
    <script src="/js/mainLayout.js" defer></script>
    <script src="/js/commonUtils.js" defer></script>
    <script src="/js/excelUtils.js" defer></script>

</head>
<body>
<div class="iframeMainContainer">
    <div class="iframeMainHeadContainer">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 상세코드 조회</h2>

            <div class="button-group">
                <button id="btnInit" type="button" class="btn">초기화
                </button>
                <button id="btnSearch" type="button" class="hidden">
                    조회
                </button>
                <button id="btnReg" type="button" class="btn">등록
                </button>
                <button id="btnRegEblc" type="button" class="btn">일괄등록
                </button>
                <button id="btnExcel" type="button" class="btn">Excel 저장</button>
            </div>
        </div>

    <div class="iframeMainBodyContainer">
        <form id="mainForm">
            <table class="search-table">
                <tr>
                    <th>공통코드</th>
                    <td><input type="text" id="grpCd" name="grpCd" class="form-input" readonly ></td>
                    <th>공통코드명</th>
                    <td><input type="text" id="grpNm" name="grpNm" class="form-input" readonly ></td>
                </tr>
            </table>
        </form>

        <div id="pageInfoContainer" class="page-header"></div>


        <table class="data-table" id="mainTable">
            <thead>
            <tr>
                <th class="col-no">번호</th>
                <th>상세코드</th>
                <th>상세코드명</th>
                <th  width="120px" style="text-align: center;">상태</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        const btnReg = document.getElementById("btnReg");
        btnReg.disabled = true;

        window.tableBody = document.getElementById("mainTable").querySelector("tbody");


        // 페이지 탑바 container에 include
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;

            const pageSelect = document.querySelector('.pageSelect');
            if (pageSelect) {
                pageSelect.classList.add('hidden');
            }
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;

            pageSizeSelect.addEventListener("change", () => {
                PAGE_SIZE = Number(pageSizeSelect.value);
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            });
        });

        window.addEventListener('storage', (e) => {
            if (e.key === 'grpCd' && e.newValue) {
                const savedGrpCd = localStorage.getItem('grpCd');
                const savedGrpNm = localStorage.getItem('grpNm');

                document.getElementById('grpCd').value = savedGrpCd;
                document.getElementById('grpNm').value = savedGrpNm;

                if (savedGrpCd) {
                    btnSearch.click();
                    btnReg.disabled = false;
                }

            }
        });

        /** 테이블 렌더링 **/
        window.renderTable = function(page)  {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="4" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr class="row-click"
                    data-grp="${item.grpCd}"
                    data-cd="${item.cd}"
                    data-id="${item.grpCd}_${item.cd}"><td style="text-align:center;"> ${start + index + 1} </td>
                    <td style="text-align:left;">${item.cd}</td>
                    <td style="text-align:left;">${item.cdNm}</td>
                    <td style="text-align:center;">${getStatLabel(item.stat)}</td>
                </tr>
            `).join('');

            /** 상세 클릭  **/
            document.querySelectorAll(".row-click").forEach(tr => {
                tr.addEventListener("dblclick", () => {
                    const grpCdS = tr.getAttribute("data-grp");
                    const cdS = tr.getAttribute("data-cd");
                    const sendData = { mode: "S", grpCd: grpCdS, cd: cdS };
                    openWindowWithJSON(sendData, "/meta/codeDetlMng", 800, 550);
                });
            });

        }

        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            initScreen();
            const data = formToJson(document.getElementById('mainForm'));
            fetch('/meta/getCodeListData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });
    });

    window.refreshParentRow = function(data) {
        const refreshMap = {
            grpCd: 'td:nth-child(2)',
        };
        document.getElementById("btnSearch").click();
    }


    /** 등록 **/
    document.getElementById('btnReg').addEventListener('click', () => {
        const grpCdS = mainForm.grpCd.value;
        const grpNmS = mainForm.grpNm.value;
        const sendData = { mode: "I", grpCd: grpCdS,  grpNm: grpNmS  };
        openWindowWithJSON(sendData, "/meta/codeDetlMng", 800, 550);
    });

    /** 초기화 **/
    document.getElementById('btnInit').addEventListener('click', () => {
        document.getElementById('mainForm').reset();
        initScreen();
    });
    /**  일괄등록 **/
    document.getElementById('btnRegEblc').addEventListener('click', () => {
        window.location.href = "/meta/codeDetlRegEblc";
    });
    /** 엑셀저장 **/
    document.getElementById('btnExcel').addEventListener('click', () => {
        downloadTableToExcel('mainTable', '공통코드상세목록');
    });


</script>
<script src="/js/functionKey.js"></script>
</body>
</html>