<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/sidebar.js" defer></script>
    <script src="/js/layout.js" defer></script>
    <script src="/js/commonUtils.js"></script>
    <script src="/js/pagenation.js"></script>
</head>
<body>
<div class="container">
<div id="topbarContainer"></div>
    <div id="sidebarContainer"></div>
    <div class="mainContainer" id="mainContainer">
        <div class="form-header">
            <!-- 왼쪽 타이틀 -->
            <h2 style="margin:0;"> ✅ 신청내역 조회</h2>

            <!-- 오른쪽 버튼 그룹 -->
            <div class="button-group">

                <button class="btn" id="btnSearch">
                    <svg width="16" height="16" viewBox="0 0 24 24">
                        <circle cx="11" cy="11" r="7" stroke="currentColor" fill="none"/>
                        <line x1="16" y1="16" x2="22" y2="22" stroke="currentColor"/>
                    </svg>
                    조회
                </button>

<!--                <button class="btn primary">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        &lt;!&ndash; 돋보기 &ndash;&gt;-->
<!--                        <circle cx="11" cy="11" r="6" fill="none" stroke="currentColor"/>-->
<!--                        <line x1="16" y1="16" x2="21" y2="21" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    검색-->
<!--                </button><button class="btn">-->
<!--                <svg viewBox="0 0 24 24" width="14" height="14">-->
<!--                    <circle cx="11" cy="11" r="6" fill="none" stroke="currentColor"/>-->
<!--                    <line x1="16" y1="16" x2="21" y2="21" stroke="currentColor"/>-->
<!--                </svg>-->
<!--            </button> -->
<!--                <button class="btn">-->
<!--                    <svg width="16" height="16" viewBox="0 0 24 24">-->
<!--                        <path d="M5 3h14v18H5z" fill="none" stroke="currentColor"/>-->
<!--                        <path d="M9 3v6h6V3" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    저장-->
<!--                </button>-->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        &lt;!&ndash; 원형 화살표 &ndash;&gt;-->
<!--                        <path d="M4 12a8 8 0 1 0 2.3-5.7" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="4,4 4,9 9,9" fill="none" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    초기화-->
<!--                </button>-->

<!--                <button class="btn warning">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <path d="M4 12a8 8 0 1 0 2.3-5.7" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="4,4 4,9 9,9" fill="none" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    초기화-->
<!--                </button>-->


<!--                <button class="btn">-->
<!--                    <svg width="16" height="16" viewBox="0 0 24 24">-->
<!--                        <line x1="4" y1="4" x2="20" y2="20" stroke="currentColor"/>-->
<!--                        <line x1="20" y1="4" x2="4" y2="20" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    닫기-->
<!--                </button>-->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <line x1="12" y1="5" x2="12" y2="19" stroke="currentColor"/>-->
<!--                        <line x1="5" y1="12" x2="19" y2="12" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    등록-->
<!--                </button>-->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <path d="M4 4h16v16H4z" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="12,16 12,8 9,11" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="12,8 15,11" fill="none" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    엑셀업로드-->
<!--                </button> -->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <path d="M4 4h16v16H4z" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="12,8 12,16 9,13" fill="none" stroke="currentColor"/>-->
<!--                        <polyline points="12,16 15,13" fill="none" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    Template-->
<!--                </button>-->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <rect x="4" y="5" width="16" height="4" fill="none" stroke="currentColor"/>-->
<!--                        <line x1="12" y1="13" x2="12" y2="19" stroke="currentColor"/>-->
<!--                        <line x1="9" y1="16" x2="15" y2="16" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    1줄추가-->
<!--                </button>-->
<!--                <button class="btn">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        &lt;!&ndash; 행 표현 &ndash;&gt;-->
<!--                        <rect x="4" y="6" width="16" height="4" fill="none" stroke="currentColor"/>-->
<!--                        &lt;!&ndash; 삭제 표시 (-) &ndash;&gt;-->
<!--                        <line x1="9" y1="16" x2="15" y2="16" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    1줄삭제-->
<!--                </button>-->

<!--                <button class="btn success">-->
<!--                    <svg viewBox="0 0 24 24" width="16" height="16">-->
<!--                        <polyline points="4,12 9,17 20,6" fill="none" stroke="currentColor"/>-->
<!--                    </svg>-->
<!--                    신청-->
<!--                </button>-->
            </div>
        </div>

        <div class="divider-h"></div>
        <form id="mainForm">  <table class="search-table">
            <tr>
                <th>신청구분</th>
                <td width="100px">
                    <select id="se"  name="se" class="form-select">
                        <option value="" selected>전체</option>
                    </select>
                </td>
                <td>
                    <input type="hidden" id="userId" name="userId" class="form-input"  >
                </td>
            </tr>
        </table>
        </form>
        <div class="divider-h"></div>

        <div id="pageInfoContainer" class="page-header"></div>

        <table style="margin-top:12px" class="data-table" id="mainTable">
            <thead>
            <tr>
                <th class="col-no">번호</th>
                <th width="100px" style="text-align: center;">등록구분</th>
                <th width="250px">등록내용</th>
                <th width="250px">영문명</th>
                <th>비고</th>
                <th width="150px" style="text-align: center;">등록자</th>
                <th width="200px" style="text-align: center;">등록일자</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div><!-- /mainContainer -->
</div><!-- /container -->
<div id="footbarContainer"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadCodeCombo('APRV_CD', 'se');
        const titles = document.querySelectorAll('.menu-title');

        titles.forEach(title => {
            title.addEventListener('click', function() {
                this.classList.toggle('folded');

                const subMenu = this.nextElementSibling;
                if (subMenu && subMenu.classList.contains('sub-menu')) {
                    subMenu.classList.toggle('folded');
                }
            });
        });

        let PAGE_SIZE = window.CONFIG.PAGE_SIZE;
        let dataAll = [];
        let currentPage = 1;

        window.tableBody = document.getElementById("mainTable").querySelector('.data-table tbody');

        const userId = localStorage.getItem('userId');
        document.getElementById("userId").value = userId;

        const btnSearch = document.getElementById('btnSearch');
        setTimeout(() => {
            btnSearch.click();
        }, 30);

        // 페이지 탑바 container에 include
        const container = document.getElementById("pageInfoContainer");
        if (!container) return;

        fetch('/common/pageSize.html')
        .then(res => res.text())
        .then(html => {
            container.innerHTML = html;
            const pageSizeSelect = document.getElementById("pageSize");
            if (!pageSizeSelect) return;

            pageSizeSelect.addEventListener("change", () => {
                <!--                PAGE_SIZE = Number(pageSizeSelect.value);-->
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE)
                updatePageInfo(dataAll, currentPage, PAGE_SIZE)
            });
        });

        /** 테이블 렌더링 **/
        function renderTable(page) {
            if (!Array.isArray(dataAll) || dataAll.length === 0) {
                tableBody.innerHTML = '<tr><td colspan="7" style="text-align:center;">검색 결과가 없습니다.</td></tr>';
                return;
            }

            const start = (page - 1) * PAGE_SIZE;
            const end = start + PAGE_SIZE;
            const pageData = dataAll.slice(start, end);

            tableBody.innerHTML = pageData.map((item, index) => `
                <tr>
                    <td style="text-align: center;"> ${start + index + 1}</td>
                    <td style="text-align: center;"> ${item.se === '1' ? '용어' : item.se === '2' ? '단어' : item.se === '3' ? '코드' : ''} </td>
                    <td style="text-align: left;">${item.korNm}</td>
                    <td style="text-align: left;">${item.engNm}</td>
                    <td style="text-align: left;">${truncateText(item.rmk, 100)}</td>
                    <td style="text-align: center;">${item.crtId}</td>
                    <td style="text-align: center;">${item.crtDttm}</td>
                </tr>
            `).join('');
        }
        /** 검색 **/
        document.getElementById('btnSearch').addEventListener('click', () => {
            const data = formToJson(document.getElementById('mainForm'));

            fetch('/meta/getDashBoardList', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => res.json())
            .then(data => {
                dataAll = Array.isArray(data) ? data : [];
                currentPage = 1;
                renderTable(currentPage);
                renderPagination(dataAll, currentPage, PAGE_SIZE);
                updatePageInfo(dataAll, currentPage, PAGE_SIZE);
            })
            .catch(err => {
                alert("에러 발생: " + err);
            });
        });
    });
</script>
<script src="/js/commonCombo.js"></script>
</body>
</html>