<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/commonUtils.js"></script>
</head>
<body>

<div class="popupContainer" id="popupContainer">
    <div class="popup-header">
        <h2 class="popup-title"> ✅ 표준도메인 등록</h2>
        <div class="button-group">
            <button id="btnSave"  class="btn">저장</button>
            <button id="btnInit" class="btn">초기화</button>
            <button id="btnClose"  class="btn">닫기</button>
        </div>
    </div>
        <div class="divider-h"></div>
            <form id="mainForm">
                <table class="popup-table">
                <tr>
                    <th>도메인명 <span style="color:red">*</span></th>
                    <td style="display:flex; align-items:center; gap:4px;">
                        <input type="text" id="dmnNm" name="dmnNm" class="form-input" required>
                        <button id="btnCheck" class="btn-chk">중복검증</button>
                    </td>
                </tr>
                </table>
                <div class="divider-h"></div>
                <table class="popup-table">
                <tr>
                    <th>도메인분류명 <span style="color:red">*</span></th>
                    <td> <input type="text" id="dmnClsfNm" name="dmnClsfNm" class="form-input"  required> </td>
                </tr>
                <tr>
                    <th>영문명</th>
                    <td><input type="text" id="dmnEngNm" name="dmnEngNm" class="form-input"  > </td>
                </tr>
                <tr>
                    <th>속성</th>
                    <td><input type="text" id="dmnAtrb" name="dmnAtrb" class="form-input"  > </td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td>
                        <select id="sttsCd"  name="sttsCd" class="form-input">
                            <option value="0">신청</option>
                            <option value="1">사용</option>
                            <option value="9">미사용</option>
                        </select>
                    </td>
                </tr>
                </table>
                <table class="popup-table">
                <tr>
                    <th>최초등록</th>
                    <td style="display:flex; gap:5px;">
                        <input type="text" id="crtId" name="crtId" class="form-input"  readonly>
                        <input type="text" id="crtDttm" name="crtDttm" class="form-input"  readonly>   </td>
                </tr>
                <tr>
                    <th>최종변경</th>
                    <td style="display:flex; gap:5px;">
                        <input type="text" id="updId" name="updId" class="form-input" readonly>
                        <input type="text" id="updDttm" name="updDttm" class="form-input"  readonly> </td>
                </tr>
            </table>
        </form>
        <div class="divider-h"></div>
    </div>
<script>
    document.addEventListener("DOMContentLoaded", () => { 
        const mainForm = document.getElementById("mainForm");
        const btnSave = document.getElementById("btnSave");
        const btnInit = document.getElementById("btnInit");
        const btnClose = document.getElementById("btnClose");
        const btnCheck = document.getElementById("btnCheck");
        btnSave.disabled = true; 

        // 저장 버튼
        btnSave.addEventListener("click", async () => {

            let data = formToJson(mainForm);
            data = addUserAuditFields(data);

            if (!data.dmnNm.trim()) {
                alert("도메인명을 입력하세요.");
                mainForm.dmnNm.focus();
                return;
            }
            if (!data.dmnClsfNm.trim()) {
                alert("도메인분류명을 입력하세요.");
                mainForm.dmnClsfNm.focus();
                return;
            }
            if (!data.dmnEngNm.trim()) {
                alert("도메인영문명을 입력하세요.");
                mainForm.dmnEngNm.focus();
                return;
            }

            try {
                let url = "/meta/insertDmnData";
                const res = await fetch(url, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                if (result.success) {
                    alert("저장되었습니다.");
                    window.close();
                } else {
                    alert("오류: " + result.message);
                }

            } catch (err) {
                console.error(err);
                alert("요청 중 오류가 발생했습니다.");
            }
        });

        /** 2. 도메인 검증/조회 **/
       btnCheck.addEventListener('click', async () => {
            let inData = formToJson(mainForm);
            
            if (!inData.dmnNm.trim()) {
                alert("도메인명을 입력하세요.");
                mainForm.dmnNm.focus();
                return;
            }

            const res = await fetch('/meta/getDmnData', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(inData)
            });

            const textData = await res.text();
            if (!textData) {
                alert("사용 가능한 코드입니다.");
                ["dmnClsfNm", "dmnEngNm", "dmnAtrb"].forEach(id => document.getElementById(id).value = "");
                document.getElementById("stat").value = "0";
                mainForm.dmnClsfNm.focus();
                btnSave.disabled = false;
            } else {
                const outData = JSON.parse(textData);
                fillForm(mainForm, outData);
            }
        });

        btnInit.addEventListener('click', () => mainForm.reset());
        btnClose.addEventListener("click", () => {
            if (confirm("닫으시겠습니까?")) window.close();
        });

        // Enter 키 이벤트
        mainForm.addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.getElementById('btnCheck').click();
            }
        });
    });

</script>
</body>
</html>