<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/commonUtils.js" defer></script>
</head>
<body>
    <div class="popupContainer" id="popupContainer">
        <div class="popup-header" style="display:flex; align-items:center; justify-content:space-between; margin-bottom:10px;">
            <h2 class="popup-title"> ✅ 표준용어 신청</h2>
            <div class="button-group">
                <button id="btnInq" class="btn">용어검증</button>
                <button id="btnInit" class="btn">초기화</button>
                <button id="btnSave"  class="btn">저장</button>
                <button id="btnClose" class="btn">닫기</button>
            </div>
        </div>
        <div class="divider-h"></div>
        <form id="mainForm">
            <table class="popup-table">
                <tr>
                    <th>용어명 <span style="color:red">*</span></th>
                    <td colspan="2"> <input type="text" id="trmNm" name="trmNm" class="form-input" required> </td>
                </tr>
            </table>
            <table class="popup-table">
                <tr>
                    <th>영문명 <span style="color:red">*</span></th>
                    <td > <input type="text" id="engNm" name="engNm" class="form-input"  > </td>
                </tr>
                <tr>
                    <th>도메인명</th>
                    <td colspan="2">
                        <select id="dmnNm" name="dmnNm" class="form-input">
                            <option value="" selected>선택</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td > <textarea id="trmExpln" name="trmExpln" class="form-input" rows="20" ></textarea> </td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td colspan="2">
                        <select id="stat" name="stat" class="form-input">
                            <option value="0" selected>신청</option>
                            <option value="1">사용</option>
                            <option value="9">미사용</option>
                        </select>
                    </td>
                </tr>
            </table>
            <table class="popup-table">
                <tr>
                    <th>최초등록</th>
                    <td style="display:flex; gap:5px;">
                        <input type="text" id="crtId" name="crtId" class="form-input"  readonly>
                        <input type="text" id="crtDttm" name="crtDttm" class="form-input"  readonly>   </td>
                </tr>
                <tr>
                    <th>최종변경</th>
                    <td style="display:flex; gap:5px;">
                        <input type="text" id="updId" name="updId" class="form-input" readonly>
                        <input type="text" id="updDttm" name="updDttm" class="form-input"  readonly> </td>
                </tr>
            </table>
        </form>
        <div class="divider-h"></div>
    </div>
<!--</div>-->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadDomainCombo();

        const mainForm = document.getElementById("mainForm");
        const btnSave = document.getElementById("btnSave");

        // 저장 버튼
        btnSave.addEventListener("click", async () => {
            let data = formToJson(mainForm);
            data = addUserAuditFields(data);

            const ok = validateRequired([
                {
                    value: data.trmNm.trim(),
                    message: '용어명은 필수 입력 항목입니다.',
                    element: mainForm.trmNm
                },
                {
                    value: data.engNm.trim(),
                    message: '영문명은 필수 입력 항목입니다.',
                    element: mainForm.engNm
                },
                {
                    value: data.trmExpln.trim(),
                    message: '설명은 필수 입력 항목입니다.',
                    element: mainForm.trmExpln
                },
                {
                    value: data.dmnNm,
                    message: '도메인명은 필수 입력 항목입니다.',
                    element: mainForm.dmnNm
                },
                {
                    value: data.stat.trim(),
                    message: '상태코드는 필수 입력 항목입니다.',
                    element: mainForm.stat
                }
            ]);

            if (!ok) return;

            if (window.KOR.test(data.engNm)) {
                alert("영문명에는 한글을 입력할 수 없습니다.");
                mainForm.engNm.focus();
                return;
            }


            try {
                const res = await fetch("/meta/insertTermData", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                if (result.success) {
                    alert("저장되었습니다.");
                    document.getElementById('mainForm').reset();
                } else {
                    alert("오류: " + result.message);
                }

            } catch (err) {
                console.error(err);
                alert("요청 중 오류가 발생했습니다.");
            }
        });

       document.getElementById('btnInq').addEventListener('click', async () => {
            const inData = formToJson(mainForm);

            if (!inData.trmNm.trim()) {
                alert("용어명을 입력하세요.");
                mainForm.trmNm.focus();
                return;
            }
            try {
                const res = await fetch('/meta/getTermSplitData', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(inData)
                });

                if (!res.ok) {
                    throw new Error("서버 응답 오류");
                    return;
                }
                const outData = await res.json();
                fillForm(mainForm, outData);
                mainForm.stat.value = '0';

            } catch (err) {
                showError("상세 데이터 조회 중 오류가 발생했습니다.");
            }
        });


        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
        });

        // Enter 키 이벤트
        document.getElementById('mainForm').addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault(); // 폼 제출 방지
                document.getElementById('btnInq').click();
            }
        });

    });

   function loadDomainCombo() {
        fetch('/meta/getDmnComboData', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP Error: ${response.status} ${response.statusText}`);
            }
            return response.json();
        })
        .then(data => {
            populateDomainCombo(data);
        })
        .catch(error => {
            showError("도메인 데이터 로드 실패.");
            console.error("도메인 데이터 로드 실패:", error);
        });
    }

    function populateDomainCombo(dataArray) {
        const selectElement = document.getElementById('dmnNm');
        while (selectElement.options.length > 1) {
            selectElement.remove(1);
        }
        dataArray.forEach(item => {
            const option = document.createElement('option');
            option.value = item.dmnNm;
            option.text = item.dmnClsfNm + ' (' + item.dmnNm + ')';
            selectElement.appendChild(option);
        });
    }


    document.getElementById("btnClose").addEventListener("click", () => {
        window.close();
    });

</script>
</body>
</html>