<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/layout.js" defer></script>
    <script src="/js/config.js"></script>
</head>
<body>

<div id="topbarContainer"></div>
<div class="container">
    <div id="sidebarContainer"></div>
    <div class="mainContainer" id="mainContainer">

    <div class="form-header" style="display:flex; align-items:center; justify-content:space-between; margin-bottom:10px;">
        <h2 style="margin:0;">⊙ 표준용어 신청</h2>
        <div class="button-group" style="display:flex; gap:8px;">
            <button id="btnPopup" class="btn-row">용어검증</button>
            <button id="btnInit" class="btn">초기화</button>
            <button id="btnSave"  class="btn">저장</button>
        </div>
    </div>

    <form id="mainForm">
        <table class="form-table">
            <tr>
                <th>용어명 <span style="color:red">*</span></th>
                <td> <input type="text" id="trmNm" name="trmNm" class="form-input" required> </td>
            </tr>
            <tr>
                <th>영문명< <span style="color:red">*</span></th>
                <td > <input type="text" id="engNm" name="engNm" class="form-input"  > </td>
            </tr>
            <tr>
                <th>도메인명</th>
                <td > <input type="text" id="dmnNm" name="dmnNm" class="form-input"  > </td>
            </tr>
            <tr>
                <th>설명</th>
                <td > <textarea id="trmExpln" name="trmExpln" class="form-input" rows="20" ></textarea> </td>
            </tr>
            <tr>
                <th>상태</th>
                <td colspan="2">
                    <select id="stat" name="stat" class="form-input">
                        <option value="0" selected>신청</option>
                        <option value="1">사용</option>
                        <option value="9">미사용</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>최초등록</th>
                <td style="display:flex; gap:5px;">
                    <input type="text" id="crtId" name="crtId" class="form-input"  readonly>
                    <input type="text" id="crtDttm" name="crtDttm" class="form-input"  readonly>   </td>
            </tr>
            <tr>
                <th>최종변경</th>
                <td style="display:flex; gap:5px;">
                    <input type="text" id="updId" name="updId" class="form-input" readonly>
                    <input type="text" id="updDttm" name="updDttm" class="form-input"  readonly> </td>
            </tr>
        </table>
    </form>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const mainForm = document.getElementById("mainForm");
        const btnSave = document.getElementById("btnSave");

        const userId = localStorage.getItem('userId');
        document.getElementById("crtId").value = userId;
        document.getElementById("updId").value = userId;

        // 저장 버튼
        btnSave.addEventListener("click", async () => {
            const data = formToJson(mainForm);

            if (!data.trmNm.trim()) {
                alert("용어명을 입력하세요.");
                mainForm.wordNm.focus();
                return;
            }
            if (!data.engNm.trim()) {
                alert("영문명을 입력하세요.");
                mainForm.engAbbrNm.focus();
                return;
            }

            try {
                const res = await fetch("/meta/insertTermData", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                if (result.success) {
                    alert("저장되었습니다.");
                } else {
                    alert("오류: " + result.message);
                }

            } catch (err) {
                console.error(err);
                alert("요청 중 오류가 발생했습니다.");
            }
        });

       document.getElementById('btnPopup').addEventListener('click', async () => {
            const inData = formToJson(mainForm);

            if (!inData.trmNm.trim()) {
                alert("용어명을 입력하세요.");
                mainForm.trmNm.focus();
                return;
            }
            try {
                const res = await fetch('/meta/getTermSplitData', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(inData)
                });

                if (!res.ok) {
                    throw new Error("서버 응답 오류");
                    return;
                }
                const outData = await res.json();
                fillForm(mainForm, outData);

            } catch (err) {
                console.error(err);
                alert("상세 데이터 조회 중 오류가 발생했습니다.");
            }
        });


        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
        });

        // Enter 키 이벤트
        document.getElementById('mainForm').addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault(); // 폼 제출 방지
                document.getElementById('btnPopup').click();
            }
        });

    });
</script>
</body>
</html>