<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Meta System</title>
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/layout.js" defer></script>
    <script src="/js/commonUtils.js"></script>
</head>
<body>

<div id="topbarContainer"></div>
<div class="container">
    <div id="sidebarContainer"></div>
    <div class="mainContainer" id="mainContainer">

        <div class="form-header" style="display:flex; align-items:center; justify-content:space-between; margin-bottom:10px;">
            <h2 style="margin:0;"> ✅ 사용자정보 등록</h2>
            <div class="button-group" style="display:flex; gap:8px;">
                <button id="btnInq" class="btn-row">사용자검증</button>
                <button id="btnInit" class="btn">초기화</button>
                <button id="btnSave"  class="btn">저장</button>
            </div>
        </div>

        <form id="mainForm">
            <table class="form-table">
            <tr>
                <th>사용자ID <span style="color:red">*</span></th>
                <td colspan="2"><input type="text" id="userId" name="userId" class="form-input" required></td>
            </tr>
            <tr>
                <th>사용자이름 <span style="color:red">*</span></th>
                <td colspan="2"><input type="text" id="userNm" name="userNm" class="form-input"  required></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td colspan="2"><input type="password" id="password" name="password" class="form-input"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td colspan="2"><input type="text" id="email" name="email" class="form-input"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td colspan="2"><input type="text" id="phone" name="phone" class="form-input"></td>
            </tr>
            <tr>
                <th>권한</th>
                <td colspan="2">
                    <select id="role" name="role" class="form-input">
                        <option value="">선택</option>
                        <option value="1">ADMIN</option>
                        <option value="2">USER</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>상태</th>
                <td colspan="2">
                    <select id="useYn"  name="useYn" class="form-input">
                        <option value="">선택</option>
                        <option value="Y">사용</option>
                        <option value="N">미사용</option>

                    </select>
                </td>
            </tr>
            <tr>
                <th>최초등록</th>
                <td style="display:flex; gap:5px;">
                    <input type="text" id="crtId" name="crtId" class="form-input"  readonly>
                    <input type="text" id="crtDttm" name="crtDttm" class="form-input"  readonly>   </td>
            </tr>
            <tr>
                <th>최종변경</th>
                <td style="display:flex; gap:5px;">
                    <input type="text" id="updId" name="updId" class="form-input" readonly>
                    <input type="text" id="updDttm" name="updDttm" class="form-input"  readonly> </td>
            </tr>
        </table>
    </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const mainForm = document.getElementById("mainForm");
        const btnSave = document.getElementById("btnSave");

        // 저장 버튼
        btnSave.addEventListener("click", async () => {

            let data = formToJson(mainForm);
            data = addUserAuditFields(data);

            if (!data.userId.trim()) {
                alert("사용자ID를 입력하세요.");
                mainForm.userId.focus();
                return;
            }
            if (!data.userNm.trim()) {
                alert("사용자명을 입력하세요.");
                mainForm.userNm.focus();
                return;
            }
            if (!data.password.trim()) {
                alert("비밀번호를 입력하세요.");
                mainForm.password.focus();
                return;
            }

            try {
                let url =  "/meta/insertUserData" ;

                const res = await fetch(url, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                });

                const result = await res.json();

                if (result.success) {
                    alert("저장되었습니다.");
                } else {
                    alert("오류: " + result.message);
                }

            } catch (err) {
                console.error(err);
                alert("요청 중 오류가 발생했습니다.");
            }
        });

       document.getElementById('btnInq').addEventListener('click', async () => {
            const inData = formToJson(mainForm);

            if (!inData.userId.trim()) {
                alert("사용자ID를 입력하세요.");
                mainForm.userId.focus();
                return;
            }
            try {
                const res = await fetch('/meta/getUserData', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(inData)
                });

                if (!res.ok) {
                    throw new Error("서버 응답 오류");
                    return;
                }
                const outData = await res.json();
                fillForm(mainForm, outData);

            } catch (err) {
                console.error(err);
                alert("상세 데이터 조회 중 오류가 발생했습니다.");
            }
        });


        /** 초기화 **/
        document.getElementById('btnInit').addEventListener('click', () => {
            document.getElementById('mainForm').reset();
        });

        // Enter 키 이벤트
        document.getElementById('mainForm').addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault(); // 폼 제출 방지
                document.getElementById('btnInq').click();
            }
        });


    });
</script>
</body>
</html>