<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.meta.mapper.TbFnncJntCdInfoMapper">

   <!--TB_FNNC_JNT_CD_INFO SELECT-->
   <select id="getListData" parameterType="com.meta.dto.TbFnncJntCdInfoDto" resultType="com.meta.dto.TbFnncJntCdInfoDto">
      SELECT JNT_CD
           , RPRS_FNST_CD
           , FNST_CD
           , FNST_NM
           , STOR_NM
           , TELNO
           , FXNO
           , ZIP
           , ADDR
           , SE
           , CLSG_MNG_BRNCH
           , STTS_CD
       , CRT_ID , UPD_ID
       , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
       , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM TB_FNNC_JNT_CD_INFO
       WHERE 1=1
       <if test="jntCd != null and jntCd != ''">
           AND JNT_CD = #{jntCd}
       </if>
       <if test="rprsFnstCd != null and rprsFnstCd != ''">
           AND RPRS_FNST_CD = #{rprsFnstCd}
       </if>
       <if test="fnstNm != null and fnstNm != ''">
           AND FNST_NM LIKE CONCAT('%', #{fnstNm}, '%')
       </if>
       <if test="storNm != null and storNm != ''">
           AND STOR_NM LIKE CONCAT('%', #{storNm}, '%')
       </if>
       <if test="se != null and se != ''">
           AND SE LIKE CONCAT('%', #{se}, '%')
       </if>
       <if test="sttsCd != null and sttsCd != ''">
           AND STTS_CD = #{sttsCd}
       </if>
       ORDER BY RPRS_FNST_CD, JNT_CD
  </select>

    <!--TB_FNNC_JNT_CD_INFO SELECT-->
    <select id="getData" parameterType="com.meta.dto.TbFnncJntCdInfoDto" resultType="com.meta.dto.TbFnncJntCdInfoDto">
        SELECT JNT_CD, RPRS_FNST_CD, FNST_CD, FNST_NM, STOR_NM
            , TELNO, FXNO, ZIP, ADDR, SE, CLSG_MNG_BRNCH, STTS_CD
            , CRT_ID, date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
            , UPD_ID, date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM TB_FNNC_JNT_CD_INFO
        WHERE JNT_CD = #{jntCd}
    </select>

   <!--TB_FNNC_JNT_CD_INFO INSERT-->
   <insert id="insertData" parameterType="com.meta.dto.TbFnncJntCdInfoDto">
     INSERT INTO TB_FNNC_JNT_CD_INFO (
            JNT_CD
          , RPRS_FNST_CD
          , FNST_CD
          , FNST_NM
          , STOR_NM
          , TELNO
          , FXNO
          , ZIP
          , ADDR
          , SE
          , CLSG_MNG_BRNCH
          , STTS_CD
          , CRT_ID
          , UPD_ID
     )
     VALUES (
            #{jntCd}
          , #{rprsFnstCd}
          , #{fnstCd}
          , #{fnstNm}
          , #{storNm}
          , #{telno}
          , #{fxno}
          , #{zip}
          , #{addr}
          , #{se}
          , #{clsgMngBrnch}
          , #{sttsCd}
          , #{crtId}
          , #{updId}
     ) 
  </insert>

   <!--TB_FNNC_JNT_CD_INFO UPDATE-->
   <update id="updateData" parameterType="com.meta.dto.TbFnncJntCdInfoDto">
     UPDATE TB_FNNC_JNT_CD_INFO
        SET RPRS_FNST_CD = #{rprsFnstCd}
          , FNST_CD = #{fnstCd}
          , FNST_NM = #{fnstNm}
          , STOR_NM = #{storNm}
          , TELNO = #{telno}
          , FXNO = #{fxno}
          , ZIP = #{zip}
          , ADDR = #{addr}
          , SE = #{se}
          , CLSG_MNG_BRNCH = #{clsgMngBrnch}
          , STTS_CD = #{sttsCd}
          , UPD_ID = #{updId}
      WHERE JNT_CD = #{jntCd}
   </update>

   <!--TB_FNNC_JNT_CD_INFO DELETE-->
   <delete id="deleteData" parameterType="com.meta.dto.TbFnncJntCdInfoDto">
     DELETE
       FROM TB_FNNC_JNT_CD_INFO
      WHERE JNT_CD = #{jntCd}
   </delete>

   <!--TB_FNNC_JNT_CD_INFO RECORD LOCK SELECT-->
   <select id="getLockData" parameterType="com.meta.dto.TbFnncJntCdInfoDto" resultType="com.meta.dto.TbFnncJntCdInfoDto">
      SELECT JNT_CD
           , RPRS_FNST_CD
           , FNST_CD
           , FNST_NM
           , STOR_NM
           , TELNO
           , FXNO
           , ZIP
           , ADDR
           , SE
           , CLSG_MNG_BRNCH
           , STTS_CD
       , CRT_ID, UPD_ID
       , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
       , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM TB_FNNC_JNT_CD_INFO
       WHERE JNT_CD = #{jntCd}
         FOR UPDATE
  </select>

    <select id="countCode" parameterType="com.meta.dto.TbFnncJntCdInfoDto" resultType="int">
        SELECT COUNT(*)
        FROM TB_FNNC_JNT_CD_INFO
        WHERE JNT_CD = #{jntCd}
    </select>

</mapper>
