<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.mapper.TbUserInfoMapper">

    <select id="getListData" parameterType="com.meta.dto.TbUserInfoDto" resultType="com.meta.dto.TbUserInfoDto">
        SELECT USER_ID, USER_NM, PASSWORD, EMAIL, PHONE, ROLE, STAT, CRT_ID, UPD_ID
        , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
        , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM tb_user_info
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND USER_ID LIKE CONCAT('%', #{userId}, '%')
        </if>
        <if test="userNm != null and userNm != ''">
            AND USER_NM LIKE CONCAT('%', #{userNm}, '%')
        </if>
        <if test="stat != null and stat != ''">
            AND STAT = #{stat}
        </if>
        ORDER BY USER_ID, USER_NM
    </select>

   <!--tb_user_info SELECT-->
   <select id="getData" parameterType="com.meta.dto.TbUserInfoDto" resultType="com.meta.dto.TbUserInfoDto">
      SELECT USER_ID, USER_NM, PASSWORD, EMAIL, PHONE, ROLE, STAT, CRT_ID, UPD_ID
            , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
            , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM tb_user_info
       WHERE USER_ID = #{userId}
  </select>

   <!--tb_user_info INSERT-->
   <insert id="insertData" parameterType="com.meta.dto.TbUserInfoDto">
     INSERT INTO tb_user_info ( USER_ID, USER_NM, PASSWORD,  EMAIL, PHONE,  ROLE, STAT, CRT_ID, UPD_ID )
       VALUES (#{userId}, #{userNm}, #{password}, #{email}, #{phone}, #{role}, #{stat}, #{crtId}, #{updId} )
  </insert>

   <!--tb_user_info UPDATE-->
   <update id="updateData" parameterType="com.meta.dto.TbUserInfoDto">
     UPDATE tb_user_info
        SET
            UPD_ID = #{updId}
       <if test="userNm != null and userNm != ''">
            ,USER_NM = #{userNm}
       </if>
       <if test="password != null and password != ''">
            ,PASSWORD = #{password}
       </if>
       <if test="email != null and email != ''">
            ,EMAIL = #{email}
        </if>
       <if test="phone != null and phone != ''">
            ,PHONE = #{phone}
       </if>
       <if test="role != null and role != ''">
            ,ROLE = #{role}
       </if>
       <if test="stat != null and stat != ''">
            ,STAT = #{stat}
       </if>
      WHERE USER_ID = #{userId}
   </update>

   <!--tb_user_info DELETE-->
   <delete id="deleteData" parameterType="com.meta.dto.TbUserInfoDto">
     DELETE
       FROM tb_user_info
      WHERE USER_ID = #{userId}
   </delete>

   <!--tb_user_info RECORD LOCK SELECT-->
   <select id="getLockData" parameterType="com.meta.dto.TbUserInfoDto" resultType="com.meta.dto.TbUserInfoDto">
      SELECT USER_ID, USER_NM, PASSWORD, EMAIL, PHONE, ROLE, STAT, CRT_ID, UPD_ID
        , date_format(CRT_DTTM, '%Y-%m-%d %H:%i:%s') AS CRT_DTTM
        , date_format(UPD_DTTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTTM
        FROM tb_user_info
       WHERE USER_ID = #{userId}
         FOR UPDATE
  </select>

</mapper>
